.row.contract-number
  .form-group.col-md-10.col-md-offset-1
    = f.label :contract_number
    = f.text_field(:number, placeholder: t('new.fields.contract_number'), class: 'form-control')
.row.contract-start-date
  .form-group.col-md-10.col-md-offset-1
    = f.label :contract_start_date
    = f.date_field(:start_date, value: today_date, class: 'form-control')
.row.contract-end-date
  .form-group.col-md-10.col-md-offset-1
    = f.label :contract_end_date
    = f.date_field(:end_date, value: today_date, class: 'form-control')
