%h1= t('new.select_contract_and_person')
.col-md-4.col-md-offset-4
  = form_for @contract, url: { action: "generate" }, method: :get do |f|
    = render partial: 'errors', locals: { target: @contract }
    = f.hidden_field :pdf, value: false
    .row.contract_number
      .form-group.col-md-10.col-md-offset-1
        = f.label :contract_number
        = f.text_field(:number, placeholder: t('new.fields.contract_number'), class: 'form-control')
    .row.contract_start_date
      .form-group.col-md-10.col-md-offset-1
        = f.label :contract_start_date
        = f.date_field(:start_date, value: today_date, class: 'form-control')
    .row.contract_end_date
      .form-group.col-md-10.col-md-offset-1
        = f.label :contract_end_date
        = f.date_field(:end_date, value: today_date, class: 'form-control')
    .row.draft
      .form-group.col-md-10.col-md-offset-1
        = f.label :select_draft
        = f.select(:draft_id, options_for_select(@drafts), {}, class: 'btn btn-default')
    .row
      .col-md-10.col-md-offset-1
        .btn-group.btn-group-justified
          .btn-group
            = link_to t('cancel'), root_path, class: 'btn btn-default'
          .btn-group
            = f.submit t('new.preview'), class: 'btn btn-default preview'
          .btn-group
            = link_to t('new.generate_pdf'), '#', class: 'btn btn-default generate_pdf'
