%h1= t('new.select_contract_and_person')
.col-md-8.col-md-offset-2
  = form_for @contract, url: {action: "generate"}, method: :get do |f|
    = f.hidden_field :pdf, value: false
    .row.contract_number
      .form-group.col-md-4
        = f.label :contract_number
        = f.text_field(:number, placeholder: t('new.fields.contract_number'), class: 'form-control', required: true)
    .row.contract_start_date
      .form-group.col-md-4
        = f.label :contract_start_date
        = f.date_field(:start_date, value: today_date, class: 'form-control', required: true)
    .row.contract_end_date
      .form-group.col-md-4
        = f.label :contract_end_date
        = f.date_field(:end_date, value: today_date, class: 'form-control', required: true)
    = f.select(:draft_id, options_for_select(@drafts), {}, class: 'btn btn-primary')
    = f.select(:user_id, options_for_select(@users), {}, class: 'btn btn-primary')
    = f.submit t('new.preview'), class: 'btn btn-default preview'
    = link_to t('new.generate_pdf'), '#', class: 'btn btn-danger generate_pdf'
