%h1= t('new.select_contract')
.col-md-4.col-md-offset-4
  = form_for @contract, url: { action: "generate" }, method: :get do |f|
    = render partial: 'errors', locals: { target: @contract }
    = f.hidden_field :pdf, value: false
    = render partial: 'form_general_fields', locals: { f: f }
    .consulting_fields
      .en-group
        %h4.text-center
          %strong= t('fields.en.title')
        = f.fields_for :en_contract_field do |ff|
          = render partial: 'form_different_languages_fields', locals: { f: ff, language: 'en' }
      .ua-group
        %h4.text-center
          %strong= t('fields.ua.title')
        = f.fields_for :ua_contract_field do |ff|
          = render partial: 'form_different_languages_fields', locals: { f: ff, language: 'ua' }
    .row.draft
      .form-group.col-md-10.col-md-offset-1
        = f.label :select_draft
        = f.select(:draft_id, options_for_select(@drafts), {}, class: 'btn btn-default')
    .row.physical-person-type
      .form-group.col-md-10.col-md-offset-1
        = f.label :select_person_type
        = f.select(:person_type_id, options_for_select(@person_types), {}, class: 'btn btn-default')
    .row
      .col-md-10.col-md-offset-1
        .btn-group.btn-group-justified
          .btn-group
            = link_to t('cancel'), root_path, class: 'btn btn-default'
          .btn-group
            = f.submit t('new.preview'), class: 'btn btn-default preview'
          .btn-group
            = link_to t('pdf'), '#', class: 'btn btn-default generate_pdf'

:javascript
  $(function(){ new ContractNew() });
