.form-group
  .col-sm-5= f.label :first_name, t("fields.#{language}.first_name")
  .col-sm-7= f.text_field :first_name, class: 'form-control'
.form-group
  .col-sm-5= f.label :last_name, t("fields.#{language}.last_name")
  .col-sm-7= f.text_field :last_name, class: 'form-control'
.form-group
  .col-sm-5= f.label :middle_name, t("fields.#{language}.middle_name")
  .col-sm-7= f.text_field :middle_name, class: 'form-control'
.form-group
  .col-sm-5= f.label :contract_price, t("fields.#{language}.contract_price")
  .col-sm-7= f.text_field :contract_price, class: 'form-control', placeholder: t("fields.#{language}.contract_price_placeholder")
.form-group
  .col-sm-5= f.label :location, t("fields.#{language}.location")
  .col-sm-7= f.text_field :location, class: 'form-control', placeholder: t("fields.#{language}.location_placeholder")
.form-group
  .col-sm-5= f.label :address, t("fields.#{language}.address")
  .col-sm-7= f.text_field :address, class: 'form-control', placeholder: t("fields.#{language}.address_placeholder")
.form-group
  .col-sm-5= f.label :passport_issued_by, t("fields.#{language}.passport_issued_by")
  .col-sm-7= f.text_area :passport_issued_by, class: 'form-control', placeholder: t("fields.#{language}.passport_issued_by_placeholder")
.form-group
  .col-sm-5= f.label :c_a_number, t("fields.#{language}.c_a_number")
  .col-sm-7= f.text_field :c_a_number, class: 'form-control', placeholder: t("fields.#{language}.c_a_number_placeholder")
.form-group
  .col-sm-5= f.label :bank_name, t("fields.#{language}.bank_name")
  .col-sm-7= f.text_field :bank_name, class: 'form-control', placeholder: t("fields.#{language}.bank_name_placeholder")
.form-group
  .col-sm-5= f.label :bank_address, t("fields.#{language}.bank_address")
  .col-sm-7= f.text_field :bank_address, class: 'form-control', placeholder: t("fields.#{language}.bank_address_placeholder")
