.panel-body
  .col-md-6.col-md-offset-3
    = form_for @user do |f|
      = render 'shared/errors', object: @user
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', required: true
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', required: true
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', required: true
      .row
        .col-sm-6
          = link_to 'Back', users_path, class: 'btn btn-primary btn-lg'
        .col-sm-6
          = f.submit 'Save', class: 'pull-right btn btn-primary btn-lg'
