%tr
  %td= t('fields.en.taxpayer_id')
  %td= @user.taxpayer_id
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.register_number')
  %td= @user.register_number
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.register_number_start_date')
  %td= @user.register_number_start_date
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.swift_code')
  %td= @user.swift_code
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.iban_number')
  %td= @user.iban_number
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.bank_code')
  %td= @user.bank_code
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.passport_number')
  %td= @user.passport_number
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.intermediary_bank_name')
  %td= @user.intermediary_bank_name
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.en.intermediary_bank_swift_code')
  %td= @user.intermediary_bank_swift_code
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
