%tr
  %td= t('fields.en.first_name')
  %td= @user.en_user_field.first_name
  %td= @user.ua_user_field.first_name
  %td= @user.ru_user_field.first_name
%tr
  %td= t('fields.en.last_name')
  %td= @user.en_user_field.last_name
  %td= @user.ua_user_field.last_name
  %td= @user.ru_user_field.last_name
%tr
  %td= t('fields.en.middle_name')
  %td= @user.en_user_field.middle_name
  %td= @user.ua_user_field.middle_name
  %td= @user.ru_user_field.middle_name
%tr
  %td= t('fields.en.contract_price')
  %td= @user.en_user_field.contract_price
  %td= @user.ua_user_field.contract_price
  %td= @user.ru_user_field.contract_price
%tr
  %td= t('fields.en.location')
  %td= @user.en_user_field.location
  %td= @user.ua_user_field.location
  %td= @user.ru_user_field.location
%tr
  %td= t('fields.en.address')
  %td= @user.en_user_field.address
  %td= @user.ua_user_field.address
  %td= @user.ru_user_field.address
%tr
  %td= t('fields.en.passport_issued_by')
  %td= @user.en_user_field.passport_issued_by
  %td= @user.ua_user_field.passport_issued_by
  %td= @user.ru_user_field.passport_issued_by
%tr
  %td= t('fields.en.c_a_number')
  %td= @user.en_user_field.c_a_number
  %td= @user.ua_user_field.c_a_number
  %td= @user.ru_user_field.c_a_number
%tr
  %td= t('fields.en.bank_name')
  %td= @user.en_user_field.bank_name
  %td= @user.ua_user_field.bank_name
  %td= @user.ru_user_field.bank_name
%tr
  %td= t('fields.en.bank_address')
  %td= @user.en_user_field.bank_address
  %td= @user.ua_user_field.bank_address
  %td= @user.ru_user_field.bank_address
