%tr
  %td= t('fields.taxpayer_id')
  %td= @user.taxpayer_id
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.register_number')
  %td= @user.register_number
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.register_number_start_date')
  %td= @user.register_number_start_date
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.swift_code')
  %td= @user.swift_code
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.iban_number')
  %td= @user.iban_number
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
%tr
  %td= t('fields.bank_code')
  %td= @user.bank_code
  %td= t('fields.general.hyphen_sign')
  %td= t('fields.general.hyphen_sign')
