.nda_llc_contract
  %p.center= "Appendix B to the AGREEMENT # #{@contract.number}"
  %p.center= "Додаток Б до договору № #{@contract.number}"
  %br
  %p.bold.center Положення про захист інтелектуальної власності.
  - 2.times do
    %br
  %table
    %tr
      %td.little_retreat
        %p
          .left_text м. Львів
          .right_text= locale_date(@contract.start_date, "%d %B %Y", :ua)
      %td.little_retreat
        %p
          .left_text Lviv
          .right_text= locale_date(@contract.start_date, "%B %d, %Y", :en)
    %tr
      %td.title_1
        %p.bold.center ПОЛОЖЕННЯ ПРО ЗАХИСТ ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ
      %td.title_1
        %p.bold.center THE REGULATION ON PROTECTION OF INTELLECTUAL PROPERTY
    %tr
      %td
        %p
          Положення про захист інтелектуальної власності, надалі – „Положення”, розроблено з метою захисту
          прав ЗАМОВНИКА або третіх осіб, визначених Договором, на об’єкти ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ та
          запобігання порушенням таких прав будь-якими особами, а також гарантованого відшкодування шкоди,
          спричиненої порушенням таких прав.
          %br
          Положенням визначено та закріплено механізми захисту прав ЗАМОВНИКА або третіх осіб визначених
          Договором, на об’єкти ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ.
      %td
        %p
          The Regulation on intellectual property protection, hereinafter referred to as “the Regulation”,
          has been developed for protection of the rights of the COMPANY or third parties stipulated by the
          Agreement to the objects of INTELLECTUAL PROPERTY and prevention of violation of such rights by
          any person as well as securing the compensation for damages caused by violation of such rights.
          %br
          The Regulation stipulates and sets the ways of protection of the rights of the COMPANY or other
          third parties stipulated by the Agreement to the objects of INTELLECTUAL PROPERTY.
    %tr
      %td
        %br
        %p.bold.center 1. ТЕРМІНИ ПОЛОЖЕННЯ
        %p Терміни, що вживаються в Положенні мають наступне значення:
        %p
          %span.bold КОМЕРЦІЙНА ТАЄМНИЦЯ
          – відомості в будь-якій формі (усній, письмовій, електронній), перелік яких визначено в Розділі 5
          даного Положення, та які підлягають захисту від неправомірного збирання, розголошення та
          використання в порядку, визначеному Положенням та чинним законодавством України. Будь-які
          відомості, що становлять Комерційну таємницю відповідно до чинного законодавства України, але не
          включені до Розділу 5 Положення, також підлягають захисту в порядку, визначеному Положенням та
          законодавством України.
        %p
          %span.bold НЕПРАВОМІРНЕ ЗБИРАННЯ ІНФОРМАЦІЇ
          – це отримання протиправним шляхом відомостей, що становлять КОМЕРЦІЙНУ ТАЄМНИЦЮ, якщо це заподіяло
          або могло заподіяти шкоду ЗАМОВНИКУ або третім особам, визначеним Договором.
        %p
          %span.bold НЕПРАВОМІРНЕ РОЗГОЛОШЕННЯ ІНФОРМАЦІЇ
          – це ознайомлення ВИКОНАВЦЕМ або особами, що залучаються в порядку, встановленому Договором, до
          виконання ЗАМОВЛЕННЯ чи з інших причин, будь-якої третьої особи з відомостями, що становлять
          КОМЕРЦІЙНУ ТАЄМНИЦЮ, якщо це заподіяло або могло заподіяти шкоду ЗАМОВНИКУ або третім особам,
          визначеним Договором. Ознайомленням є в тому числі, але не виключно: опублікування, розголошення
          КОМЕРЦІЙНОЇ ТАЄМНИЦІ в будь-якій формі (письмовій, усній, електронній), за допомогою магнітних
          носіїв або лазерних дисків, через комп'ютерну мережу.
        %p
          %span.bold НЕПРАВОМІРНЕ ВИКОРИСТАННЯ ІНФОРМАЦІЇ
          – це впровадження у виробництво або облік при плануванні або провадженні господарської діяльності
          або сприяння такому впровадженню неправомірно отриманих відомостей, які становлять КОМЕРЦІЙНУ
          ТАЄМНИЦЮ.
        %p
          %span.bold ІНТЕЛЕКТУАЛЬНА ВЛАСНІСТЬ
          – це особисті немайнові права інтелектуальної власності та (або) майнові права інтелектуальної
          власності, зміст яких щодо об’єктів інтелектуальної власності визначається Цивільним кодексом
          України та іншим законодавством. Це права на результати розумової діяльності людини в науковій,
          художній, виробничій та інших сферах, які є об’єктом цивільно-правових відносин у частині права
          кожного володіти, користуватися та розпоряджатися результатами своєї інтелектуальної, творчої
          діяльності.
        %p
          %span.bold ЗАХИСТ ПРАВ ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ
          – можливість ЗАМОВНИКА або третіх осіб, визначених Договором, застосувати заходи правоохоронного
          характеру з метою відновлення порушуваного або оспорюваного права ЗАМОВНИКА на об’єкти
          ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ, а також можливість застосувати санкції, передбачені Положенням та чинним
          законодавством України.
        %p
          %span.bold ОБ’ЄКТИ ЗАХИСТУ ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ
          %br
          \- об’єкти авторського та суміжних прав, в тому числі, але не виключно: КОМП’ЮТЕРНІ ПРОГРАМИ,
          програми для ЕОМ, бази даних, тощо;
          %br
          \- об’єкти права промислової власності, в тому числі, але не виключно: винаходи, корисні моделі,
          промислові зразки, знаки для товарів та послуг, фірмові найменування, географічні вказівки
          походження товарів, тощо;
          %br
          \- нетрадиційні об’єкти права Інтелектуальної власності, в тому числі, але не виключно: КОМЕРЦІЙНА
          ТАЄМНИЦЯ (секрети виробництва, ноу-хау, тощо).
      %td
        %br
        %p.bold.center 1. GENERAL PROVISIONS
        %p The terms used in the present Regulation shall have the following meaning:
        %p
          %span.bold COMMERCIAL SECRET
          shall mean the information in any form (verbal, written, electronic), the list of which is
          determined in Article 5 of the Regulation and which is subject to protection from illegal
          collecting, disclosure and use under the procedure established by the Regulation and the current
          legislation of Ukraine. Any information that represents the Commercial secret according to the
          current legislation of Ukraine but not included in Article 5 of the Regulation shall also be
          subject to protection under the procedure established by the Regulation and the legislation of
          Ukraine.
        %p
          %span.bold ILLEGAL COLLECTING OF INFORMATION
          shall mean illegal obtaining of information that represents the COMMERCIAL SECRET if it has caused
          or could have caused harm to the COMPANY or third parties stipulated by the Agreement.
        %p
          %span.bold ILLEGAL DISCLOSURE OF INFORMATION
          shall mean the familiarization by the CONTRACTOR or by persons engaged under the procedure
          stipulated by the Agreement into fulfilment of the ORDER or for any other reasons or by any third
          party with the information that represents the COMMERCIAL SECRET if it has caused or could have
          caused harm to the COMPANY or third parties stipulated by the Agreement. The familiarization shall
          mean but not limited to publishing or disclosure of the COMMERCIAL SECRET in any form (written,
          verbal and electronic), as well as disclosure by means of magnetic media or laser disks and also
          via a computer network.
        %p
          %span.bold ILLEGAL USE OF INFORMATION
          shall mean the introduction in production or accounting in the process of planning or realization
          of economic activity or assistance to such introduction of information obtained illegally which
          represents the COMMERCIAL SECRET.
        %p
          %span.bold INTELLECTUAL PROPERTY
          shall mean personal non-property rights to intellectual property and (or) property rights to
          intellectual property essence of which as to the objects of intellectual property is stipulated by
          the Civil Code of Ukraine and other legislation. These are the rights to the products of
          intellectual activity of the person in science, art, manufacturing and other fields which are the
          object of civil legal relationships in terms of the right of every person to possess, use and
          dispose of the products of their intellectual and creative activity.
        %p
          %span.bold PROTECTION OF INTELLECTUAL PROPERTY RIGHTS
          shall mean the possibility for the COMPANY or third parties stipulated by the Agreement to apply
          the law enforcement measures with the purpose of renewal of the violated or contested rights of
          COMPANY to the objects of INTELLECTUAL PROPERTY as well as the possibility to impose penalties
          determined by the Regulation and the current legislation of Ukraine.
        %p
          %span.bold OBJECTS OF INTELLECTUAL PROPERTY PROTECTION
          shall mean 
          %br
          \- the objects of the copyright and allied rights including but not limited to: COMPUTER PROGRAMS,
          programs for computing devices, databases etc.;
          %br
          \- the objects of the industrial property rights including but not limited to inventions, utility
          models, industrial models, industrial trademarks, trademarks of goods and services, brand names,
          information on geographical origin of goods etc.;
          %br
          \- the non-traditional objects of Intellectual property including but not limited to The COMMERCIAL
          SECRET (secrets of production, know-how etc.).
    %tr
      %td.big_retreat
        %p.bold.center 2. ПРАВА ТА ОБОВ’ЯЗКИ ОСІБ, ЩО МАЮТЬ ДОСТУП ДО ОБ’ЄКТІВ ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ
        %p
          2.1.  ВИКОНАВЕЦЬ, а також інші особи, які у встановленому ДОГОВОРОМ порядку отримали доступ до
          будь-яких об’єктів ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ ЗАМОВНИКА або третіх осіб, а також інших об’єктів
          ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ, які знаходяться у володінні, користуванні та розпорядженні ЗАМОВНИКА на
          підставах не заборонених чинним законодавством України, підписанням цього Додатку до Договору
          підтверджують, що розуміють в повному обсязі всі викладені положення та умови цього документу та
          зобов’язуються неухильно їх виконувати.
        %p
          2.2. ВИКОНАВЕЦЬ, а також треті особи, які у встановленому Положенням порядку отримали доступ до
          будь-яких об’єктів ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ ЗАМОВНИКА або третіх осіб визначених Договором, а
          також інших об’єктів ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ, які знаходяться у володінні, користуванні та
          розпорядженні ЗАМОВНИКА або інших осіб, визначених Договором, на підставах не заборонених чинним
          законодавством України, зобов'язані не порушувати такі права, а також будь-якими засобами
          запобігати можливим порушенням таких прав.
        %p
          2.3.  Права та обов’язки відносно КОМП’ЮТЕРНИХ ПРОГРАМ.
        %p
          2.3.1. ВИКОНАВЕЦЬ, а також треті особи, які у встановленому Договором порядку отримали доступ до
          КОМП’ЮТЕРНИХ ПРОГРАМ, мають право виконувати відносно КОМП’ЮТЕРНИХ ПРОГРАМ тільки ті дії, що
          передбачені відповідними договорами та/або ліцензійними угодами, та/або іншими документами, які
          регулюють порядок використання КОМП’ЮТЕРНИХ ПРОГРАМ.
        %p
          2.3.2. Зазначені особи зобов'язані суворо виконувати вимоги ліцензійних угод, договорів та інших
          документів, на підставі яких відповідні КОМП’ЮТЕРНІ ПРОГРАМИ надійшли у володіння, користування та
          розпорядження ЗАМОВНИКА.
          %br
          Забороняється будь-яке несанкціоноване розголошення та використання, а також поширення КОМП’ЮТЕРНИХ
          ПРОГРАМ будь-яким іншим чином без дозволу осіб, яким належать авторські права або права на
          використання відповідних програм, не дозволяється робити переробки, адаптації й інші подібні зміни
          КОМП’ЮТЕРНИХ ПРОГРАМ.
        %p
          2.3.3. Вільне відтворення КОМП’ЮТЕРНИХ ПРОГРАМ. ВИКОНАВЕЦЬ має право без дозволу ЗАМОВНИКА,
          здійснювати нижчезазначені дії, якщо інше не передбачено у Договорі та/або ліцензійній угоді,
          та/або іншому документі, який регулює порядок використання КОМП’ЮТЕРНОЇ ПРОГРАМИ, а саме:
          %br
          а) спостерігати, вивчати та досліджувати функціонування КОМП’ЮТЕРНОЇ ПРОГРАМИ, щоб визначити ідеї і
          принципи, що лежать в основі будь-якого елементу програми, за умови, що це відбувається в процесі
          виконання будь-якої дії по завантаженню, показу, функціонуванню, передачі або запису в пам'ять
          (збереженню) КОМП’ЮТЕРНОЇ ПРОГРАМИ;
          %br
          б) відтворювати один екземпляр програми, а також адаптацію програми для:
          %br
          \- використання програми на визначеному комп'ютері відповідно до призначення програми;
          %br
          \- архівних цілей;
          %br
          \- заміни набутого ЗАМОВНИКОМ на законних підставах екземпляру програми у випадку її втрати,
          ушкодження або непридатності.
          %br
          Зазначений екземпляр програми або її адаптація не можуть використовуватися з іншими цілями, ніж ті,
          що визначені Положенням та підлягають знищенню у випадку, якщо подальше володіння, користування та
          розпорядження програмою перестає бути правомірним.
        %p
          2.3.4. Декомпіляція КОМП’ЮТЕРНИХ ПРОГРАМ. Вільна декомпіляція КОМП’ЮТЕРНОЇ ПРОГРАМИ, набутої
          ЗАМОВНИКОМ на підставах не заборонених чинним законодавством, допускається для відтворення коду і
          зміни його форми з метою одержання інформації, необхідної для досягнення взаємодії незалежно
          створеної КОМП’ЮТЕРНОЇ ПРОГРАМИ з іншими КОМП’ЮТЕРНИМИ ПРОГРАМАМИ, за умови, що:
          %br
          \- ці дії здійснюються особою, яка має ліцензію, або іншою особою, що є законним власником
          КОМП’ЮТЕРНОЇ ПРОГРАМИ, або від імені особи, що має належні повноваження;
          %br
          \- інформація, необхідна для досягнення можливості взаємодії, не була попередньо відома особам,
          зазначеним у попередньому абзаці;
          %br
          \- зазначені дії обмежуються тільки тими елементами КОМП’ЮТЕРНОЇ ПРОГРАМИ, що є необхідними для
          досягнення можливості взаємодії.
          %br
          Умови підпункту 2.3.5. не допускають, щоб отримана в результаті декомпіляції інформація:
          %br
          а) використовувалася з іншою метою, ніж досягнення можливості взаємодії незалежно створеної
          КОМП’ЮТЕРНОЇ ПРОГРАМИ з іншими програмами;
          %br
          б) була надана іншим користувачам, крім випадків, якщо це необхідно для досягнення можливості
          взаємодії незалежно створеної КОМП’ЮТЕРНОЇ ПРОГРАМИ з іншими програмами,
          %br
          в) була використана для розробки (удосконалення), виготовлення або поширення КОМП’ЮТЕРНОЇ ПРОГРАМИ,
          істотно схожої з декомпільованою КОМП’ЮТЕРНОЮ ПРОГРАМОЮ,
          %br
          г) була використана будь-яким іншим способом, що порушує авторське право.
        %p
          2.3.5. Права на використання. Виключні права на використання КОМП’ЮТЕРНИХ ПРОГРАМ та інших об'єктів
          Інтелектуальної власності, створених ВИКОНАВЦЕМ, належать ЗАМОВНИКУ.
        %p
          2.3.6. Використання КОМП’ЮТЕРНИХ ПРОГРАМ. ВИКОНАВЕЦЬ не має права продавати, іншим способом
          відчужувати, передавати в користування, робити переробки, адаптації й інші подібні зміни, а також
          здійснювати по відношенню до КОМП’ЮТЕРНИХ ПРОГРАМ, набутих ЗАМОВНИКОМ на підставах, не заборонених
          чинним законодавством, а також розроблених ЗАМОВНИКОМ, будь-які інші дії, які можуть призвести до
          порушення прав ІНТЕЛЕКТУАЛЬНОЇ ВЛАСНОСТІ ЗАМОВНИКА на такі програми, за винятком дій, які
          виконуються ними відповідно до договорів, укладених з ЗАМОВНИКОМ, та відповідно до Положення.
          %br
          ВИКОНАВЕЦЬ зобов’язаний виконувати положення зазначеного пункту як протягом терміну дії Договору,
          так і після припинення його дії.
        %p
          2.3.7. Копії. ВИКОНАВЕЦЬ після припинення дії Договору з ЗАМОВНИКОМ не має права зберігати
          примірники КОМП’ЮТЕРНИХ ПРОГРАМ в будь-якому вигляді, якщо інше не передбачено Договором.
        %p
          2.4. Права та обов’язки щодо КОМЕРЦІЙНОЇ ТАЄМНИЦІ ЗАМОВНИКА
        %p
          2.4.1. Конфіденційність КОМЕРЦІЙНОЇ ТАЄМНИЦІ. Відомості, зазначені у Розділі 5 Положення, а також
          інші відомості, які визнаються КОМЕРЦІЙНОЮ ТАЄМНИЦЕЮ відповідно до чинного законодавства України, є
          конфіденційною інформацією, на яку розповсюджується режим конфіденційності, що означає, що така
          інформація підлягає захисту від неправомірного збирання, розголошення та використання як
          ВИКОНАВЦЕМ, так і будь-якою іншою особою в порядку, визначеному Положенням.
        %p
          2.4.2. Джерела КОМЕРЦІЙНОЇ ТАЄМНИЦІ. Інформація, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ, може бути
          отримана від ЗАМОВНИКА, третіх осіб, визначених Договором, або розроблена локальними документами
          ЗАМОВНИКА.
        %p
          2.4.3. Порядок отримання КОМЕРЦІЙНОЇ ТАЄМНИЦІ. Доступ до інформації, що становить КОМЕРЦІЙНУ
          ТАЄМНИЦЮ може бути спеціальним (з зазначенням режиму конфіденційності) і випадковим (без зазначення
          режиму конфіденційності). Для запобігання негативним наслідкам випадкового доступу осіб до
          інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ, ВИКОНАВЦЮ забороняється надавати будь-яким особам
          доступ до інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ. ВИКОНАВЕЦЬ, винний у наданні будь-яким
          особам доступу до інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ, несе відповідальність за шкоду,
          спричинену ЗАМОВНИКУ або третім особам, визначених Договором, внаслідок таких дій.
          %br
          Незалежно від процедури доступу до інформації, яка становить комерційну таємницю ЗАМОВНИКА або
          третіх осіб визначених Договором, ВИКОНАВЕЦЬ, який одержав доступ до такої інформації зобов’язаний
          вживати всі можливі заходи захисту такої інформації, передбачені Положенням та чинним
          законодавством України.
        %p
          2.4.4. Передача КОМЕРЦІЙНОЇ ТАЄМНИЦІ. Інформація, що є КОМЕРЦІЙНОЮ ТАЄМНИЦЕЮ, може бути передана
          ВИКОНАВЦЕВІ (його представникам) або та іншим особам при дотриманні наступної умови:
          %br
          \- при передачі такої інформації, ЗАМОВНИК зобов'язаний повідомити ВИКОНАВЦЯ про режим
          конфіденційності інформації, що передається, в обов'язковому порядку.
          %br
          Передача ВИКОНАВЦЕМ інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ, державним органам, які здійснюють
          контроль за діяльністю суб'єктів підприємницької діяльності, в разі наявності належним чином
          оформлених запитів державних органів про надання відповідної інформації, не є порушенням даного
          Положення. У випадку наявності у ВИКОНАВЦЯ сумнівів щодо законності запитів або дій державних
          органів, він зобов'язаний терміново повідомити про це ЗАМОВНИКА. У будь-якому випадку, ВИКОНАВЕЦЬ
          зобов'язаний повідомляти ЗАМОВНИКА про будь-які запити державних органів офіційного та неофіційного
          характеру відносно інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА.
          %br
          Інформація, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ, може бути передана державним та недержавним
          організаціям, підприємствам та установам для науково-дослідних цілей, експертизи та проведення
          рекламних заходів виключно за наявності попередньої письмової згоди ЗАМОВНИКА на таку передачу.
        %p
          2.4.5. Режим доступу до КОМЕРЦІЙНОЇ ТАЄМНИЦІ. Доступ до інформації, що становить КОМЕРЦІЙНУ
          ТАЄМНИЦЮ, можуть мати тільки ВИКОНАВЕЦЬ та особи, список яких погоджений із ЗАМОВНИКОМ та які
          безпосередньо використовують таку інформацію при виконанні своїх договірних обов’язків.
          %br
          Збирання, розголошення та використання інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА, в
          будь-яких інших цілях, ніж передбачені Положенням, є неправомірним та суворо забороняється.
          %br
          Особи, що одержали таку інформацію, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА, в електронному
          вигляді, на паперових або будь-яких інших носіях, несуть відповідальність за її належне зберігання
          та використання. Неналежне зберігання та використання інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ
          ЗАМОВНИКА прирівнюється до неправомірного розголошення.
        %p
          2.4.6. Пересилання і зберігання КОМЕРЦІЙНОЇ ТАЄМНИЦІ. Паперові, електронні та інші носії
          Інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА, повинні в неробочий час зберігатися в
          замкнених на ключ приміщеннях, які належним чином охороняються. Винесення таких носіїв інформації
          за межі офісу ЗАМОВНИКА дозволяється лише за згодою ЗАМОВНИКА.
          %br
          Файли, що містять інформацію, яка становить КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА, повинні бути зашифровані
          або доступ до них повинен бути закритий паролем.
          %br
          При пересиланні інформації, що становить КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА, електронною поштою вона
          повинна бути захищеною від несанкціонованого доступу паролями або криптографічними програмами.
      %td.big_retreat
        %p.bold.center
          2. THE RIGHTS AND OBLIGATIONS OF THE PERSONS THAT HAVE ACCESS TO THE OBJECTS OFINTELLECTUAL
          PROPERTY
        %p
          2.1.  The CONTRACTOR as well as other persons that under the procedure stipulated by the AGREEMENT
          have obtained access to any objects of INTELLECTUAL PROPERTY of the COMPANY or third parties as
          well as to other objects of INTELLECTUAL PROPERTY being in possession, use and disposal of the
          COMPANY on the basis not prohibited by the current legislation of Ukraine by signing the present
          Appendix to the Agreement shall confirm that they fully understand the provisions and conditions
          of the present document and shall follow them  strictly.
        %p
          2.2. The CONTRACTOR as well as third parties that under the procedure stipulated by the Regulation
          have obtained access to any objects of INTELLECTUAL PROPERTY of the COMPANY or third parties
          stipulated by the Agreement as well as to other objects of INTELLECTUAL PROPERTY being in
          possession, use and disposal of the COMPANY or other persons stipulated by the Agreement on the
          basis not prohibited by the current legislation of Ukraine shall not violate such rights and
          prevent their possible violation in any way.
        %p
          2.3. The rights and obligations concerning the COMPUTER PROGRAMS.
        %p
          2.3.1. The CONTRACTOR as well as third parties that under the procedure stipulated by the Agreement
          have obtained access to the COMPUTER PROGRAMS shall have the right to perform in relation to the
          COMPUTER PROGRAMS only the actions stipulated by the corresponding agreements and/or license
          agreements and/or other documents regulating the procedure of using of the COMPUTER PROGRAMS.
        %p
          2.3.2. The stated persons shall strictly follow the requirements of the license agreements,
          agreements and other documents on the basis of which the corresponding COMPUTER PROGRAMS have been
          obtained into possession, use and disposal of the COMPANY.
          %br
          Any unauthorized disclosure, use and distribution of the COMPUTER PROGRAMS in any other way without
          the permission of the persons having the copyright or the rights to use the corresponding programs
          shall be prohibited. Processing, adjusting and other similar changes of the Computer programs shall
          not be allowed.
        %p
          2.3.3. Free reproduction of the COMPUTER PROGRAMS. The CONTRACTOR shall have the right to perform
          without consent of the COMPANY the actions stated below unless otherwise is stipulated by the
          Agreement and/or license agreement and/or other document regulating the procedure of using of the
          COMPUTER PROGRAMS, viz:
          %br
          а) to observe, study and explore the functioning of the COMPUTER PROGRAM in order to determine
          ideas and principles that are fundamental for any of the program elements on condition that it
          takes place in the process of implementation of any action of downloading, displaying,  operating,
          transferring or recording (saving) of the COMPUTER PROGRAM;
          %br
          b) to reproduce one copy of the program and make adjustments to the program for the following
          purposes:
          %br
          \- using of the program on a definite computer according to application of the program;
          %br
          \- creating of archives;
          %br
          \- replacing of the program copy legally acquired by the COMPANY in case of its loss, damage or
          inoperability.
          %br
          The stated copy of the program or its adjustment shall not be used for other purposes than those
          specified by the Regulation and shall be subject to deleting in case if further possessing, use and
          disposal of the program becomes illegal.
        %p
          2.3.4. Decompiling of the COMPUTER PROGRAMS. Free decompiling of the COMPUTER PROGRAM acquired by
          the COMPANY on the grounds not prohibited by the current legislation shall be allowed for
          reproduction of the code or changing of its form with the purpose of receiving the information
          necessary for achievement of interaction of the independently created COMPUTER PROGRAM with other
          COMPUTER PROGRAMS on the following conditions:
          %br
          \- such actions are carried out by a person possessing a licence or by other person being the legal
          owner of the COMPUTER PROGRAM or on behalf of the person having proper authority;
          %br
          \- information necessary for achievement of possible interaction has not been known in advance to
          the persons stated in the previous paragraph;
          %br
          \- the stated actions are limited to only those elements of the COMPUTER PROGRAM that are necessary
          for achievement of possible interaction.
          %br
          According to the provisions of sub-paragraph 2.3.5 the information received as a result of
          decompiling shall not:
          %br
          a) be used for other purposes than achievement of possible interaction of independently created
          COMPUTER PROGRAM with other programs;
          %br
          b) be transferred to other users unless it is necessary for achievement of possible interaction of
          independently created COMPUTER PROGRAM with other programs;
          %br
          c) be used for development (improvement), production or distribution of the COMPUTER PROGRAM which
          is extremely similar to the decompiled  COMPUTER PROGRAM;
          %br
          d) be used in any other way that violates the copyright.
        %p
          2.3.5 The rights of use. Exclusive rights of use to the COMPUTER PROGRAMS and other objects of
          Intellectual property created by the CONTRACTOR shall be retained by the COMPANY.
        %p
          2.3.6. Use of the COMPUTER PROGRAMS. The CONTRACTOR shall have no right to sell, alienate in any
          other way, transfer into use, redesign, adjust or make other similar changes as well as perform as
          to the COMPUTER PROGRAMS acquired by the COMPANY on the grounds not prohibited by the current
          legislation and to those developed by the COMPANY any other actions which can result in violation
          of INTELLECTUAL PROPERTY rights of the COMPANY to such programs except for actions performed by
          them under the agreements concluded with the COMPANY and according to the Regulation.
          %br
          The CONTRACTOR shall be liable for performing of provisions of the stated paragraph during the
          validity period of the Agreement as well as after its expiry.
        %p
          2.3.7. The copies.  After expiry of the Agreement with the COMPANY, the CONTRACTOR shall have no
          rights to store the copies of the COMPUTER PROGRAMS in any form unless otherwise is stipulated by
          the Agreement.
        %p
          2.4. The rights and obligations as to the COMMERCIAL SECRETS of the COMPANY.
        %p
          2.4.1. The confidential nature of COMMERCIAL SECRET. The information specified in Article 5 of the
          Regulation as well as other information considered the COMMERCIAL SECRET according to the current
          legislation of Ukraine shall be confidential and covered by the confidentiality regime which means
          that such information is subject to protection from illegal collection, disclosure and use by the
          CONTRACTOR and any other person under the procedure stipulated by the Regulation.
        %p
          2.4.2. The sources of COMMERCIAL SECRET. Information that represents the COMMERCIAL SECRET can be
          received from the COMPANY, third parties stipulated by the Agreement or contained in the documents
          for internal use of the COMPANY.
        %p
          2.4.3. The procedure of Commercial secret provision. Access to the information representing the
          COMMERCIAL SECRET can special (with the reference to the confidentiality regime) and accidental
          (without the reference to the confidentiality regime). To prevent negative consequences of
          accidental access by the persons to the information representing the COMMERCIAL SECRET the
          CONTRACTOR shall not transfer to any persons the access to the information representing the
          COMMERCIAL SECRET. The CONTRACTOR responsible for the provision of any persons with the access to
          the information representing the COMMERCIAL SECRET shall be liable for the damages incurred by the
          COMPANY or third parties stipulated by the Agreement as a result of such actions.
          %br
          Regardless the procedure of access to the information representing the COMMERCIAL SECRET of the
          COMPANY or third parties stipulated by the Agreement the CONTRACTOR that has received the access to
          such information shall be liable for taking all possible measures of protection of such information
          stipulated by the Regulation and the current legislation of Ukraine.
        %p
          2.4.4. Transferring of COMMERCIAL SECRET. Information representing the Commercial secret can be
          transferred to the CONTRACTOR (his representatives) and/or to other persons on the following
          condition:
          %br
          \- generally when transferring such information the COMPANY shall compulsory notify the CONTRACTOR
          of the confidentiality regime applied to the transferred information.
          %br
          Transferring by the CONTRACTOR of the information representing the COMMERCIAL SECRET to the state
          authorities exercising control over the activity of business entities in case of properly executed
          inquiries of the state authorities as to the provision of the corresponding information shall not
          be a violation of the present Regulation. Should the CONTRACTOR have any doubts as to the
          legitimacy of the inquiries or actions of the state authorities, he shall immediately notify the
          COMPANY thereof.
          In any case the CONTRACTOR shall notify the COMPANY of any official and unofficial inquiries of the
          state authorities as to the information representing the COMMERCIAL SECRET of the COMPANY.
          %br
          Information representing the COMMERCIAL SECRET can be transferred to the governmental and
          non-governmental organizations, enterprises and institutions for scientific and research purposes,
          expertise and advertising campaign solely upon prior written consent of the Company for such
          transferring.
        %p
          2.4.5. The regime of access to COMMERCIAL SECRET. Access to the information representing the
          COMMERCIAL SECRET shall be allowed only to the CONTRACTOR and persons the list of which has been
          agreed upon by the COMPANY and who use such information directly when performing their obligations
          under the Agreement.
          %br
          Collecting, disclosure and use of the information representing the COMMERCIAL SECRET of the COMPANY
          for any other purposes than those stipulated by the Regulation shall be strictly prohibited and
          deemed illegal.
          %br
          Persons that have obtained the information representing the COMMERCIAL SECRET on electronic, paper
          or any other media shall be liable for its proper storing and use. Improper storing and use of the
          information representing the COMMERCIAL SECRET shall considered illegal disclosure.
        %p
          2.4.6. Sending and storing of COMMERCIAL SECRET. During the off-work hours all paper, electronic
          and other storage media containing the information which represents the COMMERCIAL SECRET shall be
          stored in locked premises and guarded properly. Taking such information storage media out of the
          office of the COMPANY shall take place only upon the consent of the COMPANY.
          %br
          Files containing the information representing the COMMERCIAL SECRET of the COMPANY shall be encoded
          or have the access protected with a password.
          %br
          When sending the information representing the COMMERCIAL SECRET of the COMPANY via e-mail it shall
          be protected from unauthorized access with passwords or encryption programs.
    %tr
      %td
        %p.bold.center 3. ВІДПОВІДАЛЬНІСТЬ
        %p
          3.1.  Відповідальність. Особи, що порушили вимоги Положення, несуть відповідальність відповідно до
          чинного законодавства України та Положення.
          %br
          В разі виявлення будь-якого порушення, погрози порушення або спроби порушення Положення, в
          результаті якого ЗАМОВНИК зазнав шкоди, втратила прибуток або погіршила свою ділову репутацію,
          ЗАМОВНИК має право звернутися до суду для отримання рішення або ухвали про припинення порушення,
          погрози чи спроби порушення Положення, додатково до інших судових способів захисту, передбачених
          законодавством, включаючи, але не обмежуючись, покриттям витрат, видатків та гонорару адвоката, які
          виникають внаслідок такого порушення, погрози чи спроби порушення.
        %p
          3.2. ВИКОНАВЕЦЬ, у разі порушення або спроби порушення умов Положення зобов’язаний відшкодувати
          ЗАМОВНИКОВІ всі документально підтверджені збитки ЗАМОВНИКА, завдані таким порушенням або спробою
          порушення, а також сплатити ЗАМОВНИКОВІ штраф у розмірі 50 000 (п’ятдесят тисяч) гривень.
        %p
          3.3. ЗАМОВНИК має право припинити договірні відносини з ВИКОНАВЦЕМ, у разі порушення або спроби
          порушення ним умов Положення, а у випадку звернення третіх осіб за рекомендаціями стосовно таких
          осіб, ЗАМОВНИК не буде мати намірів приховувати  будь-яких фактів, що негативно характеризують
          таких осіб.
      %td
        %p.bold.center 3. RESPONSIBILITIES
        %p
          3.1 Responsibility. Persons who have violated the provisions of the Regulation shall bear
          responsibilities according to the current legislation of Ukraine and the Regulation.
          %br
          Should any violation, threat to violate or attempt of violation of the Regulation be revealed
          resulted and which caused harm to the COMPANY, loss of profit or damage to its goodwill the COMPANY
          shall be liable to go to court of law to get a decision or decree on termination of the violation,
          threat or attempt to violate the Regulation additionally to other ways of legal protection
          stipulated by the legislation including, but not limited to reimbursement of expenses, expenditures
          and the honorarium to the attorney arising from such violation, threat or attempt of violation.
        %p
          3.2. Should the CONTRACTOR violates or attempts to violate terms of the Regulation he shall be
          liable to recover to the COMPANY losses of the COMPANY confirmed by the documents and inflicted by
          the violation or attempt of such violation as well as to pay to the COMPANY a fine in the amount of
          50 000 (fifty thousand) hryvnas.
        %p
          3.3. Should the CONTRACTOR violate or attempts to violate the provisions of the Regulation the
          COMPANY shall have the right to break contractual relations with the CONTRACTOR. Should any third
          persons make inquiries as to recommendations concerning such persons the COMPANY shall not have any
          intentions to hide any facts which negatively characterise such persons.
    %tr
      %td
        %p.bold.center 4. ІНШІ ПОЛОЖЕННЯ
        %p
          4.1. Додаткова інформація та консультації.
          %br
          ВИКОНАВЕЦЬ має право звертатися до ЗАМОВНИКА для отримання роз'яснень та/або уточнень будь-яких
          пунктів Положення, з'ясування інших питань, що стосуються умов конфіденційності, авторських прав,
          інших питань, так чи інакше, пов'язаних з цими проблемами.
        %p
          4.2. Положення складені українською (превалює) та англійською мовами у двох оригінальних,
          автентичних примірниках, які мають однакову юридичну силу і зберігається у кожної із Сторін.
      %td
        %p.bold.center 4. OTHER PROVISIONS
        %p
          4.1. Additional information and consultations.
          %br
          The CONTRACTOR shall have the right to turn to the COMPANY for clarifications of any provision of
          the Regulation, other matters related to confidentiality, the copyright and other issues concerning
          such problems.
        %p
          4.2. The Provisions are concluded in Ukrainian (prevails) and English languages in two original and
          authentic copies having equal legal force and kept by both Parties.
    %tr
      %td
        %p.bold.center 5. ПЕРЕЛІК ВІДОМОСТЕЙ, ЩО СТАНОВЛЯТЬ КОМЕРЦІЙНУ ТАЄМНИЦЮ
        %p 5.1. КОМЕРЦІЙНУ ТАЄМНИЦЮ ЗАМОВНИКА становлять наступні дані:
        %p 5.2. ЮРИДИЧНА ІНФОРМАЦІЯ
        %p
          5.2.1. Договори, протоколи, попередні угоди, будь-які односторонні, двосторонні і багатосторонні
          правочини, як підписані, так і проекти.
        %p 5.2.2. Форми співробітництва з Контрагентами.
        %p 5.3. ФІНАНСОВА ІНФОРМАЦІЯ
        %p
          5.3.1. Розмір і форми виплати заробітних плат, премій, винагород, інших матеріальних і грошових
          компенсацій інших Виконавців.
        %p
          5.3.2. Розміри винагород агентів, посередників, комісіонерів, повірених та представників та інших
          осіб, які надають послуги та/або виконують роботи за замовленням ЗАМОВНИКА.
        %p
          5.3.3. Вартість робіт та послуг, що виконуються/надаються ЗАМОВНИКОМ, розміри і форми оплат таких
          робіт та послуг.
        %p
          5.3.4. Дати та форми виплат ЗАМОВНИКОМ заробітних плат, премій, винагород, інших компенсацій та
          грошових сум.
        %p 5.3.5. Дати та форми одержання ЗАМОВНИКОМ будь-яких грошових сум.
        %p
          5.3.6. Ціни на продукцію та послуги ЗАМОВНИКА, не зазначені в прайс-листах ЗАМОВНИКА, а також ціни
          на продукцію та послуги ЗАМОВНИКА, зазначені в спеціальних офертах та ділових пропозиціях.
        %p 5.4. МАРКЕТИНГОВА ІНФОРМАЦІЯ
        %p
          5.4.1. Оферти, ділові пропозиції, листування з українськими і закордонними, юридичними і фізичними
          особами.
        %p
          5.4.2. Найменування агентів і посередників, комісіонерів, повірених та представників.
          %br
          Бізнес-плани і плани розвитку ЗАМОВНИКА, прогнози, розроблені ЗАМОВНИКОМ.
        %p 5.4.3. Аналізи ринку (окремих сегментів) і маркетингові дослідження (у т.ч. їхні результати).
        %p 5.5. ТЕХНОЛОГІЧНА ІНФОРМАЦІЯ
        %p
          5.5.1. Технічні завдання, описи задач, специфікації, схеми, будь-яка технологічна документація, що
          виготовляється ЗАМОВНИКОМ в процесі виконання робіт та/або додається до результатів виконаних
          робіт, а також програмні продукти та інші розробки ЗАМОВНИКА.
        %p 5.5.2. Звіти про виконані роботи та надані послуги.
        %p 5.5.3. Характер та вигляд змін, внесених у будь-які КОМП’ЮТЕРНІ ПРОГРАМИ.
        %p
          5.5.4. Організація виробничого процесу.
          %br
          Статистичні дані, що стосуються виробничого процесу (у тому числі про рекламації замовників,
          виробничі і інші помилки).
        %p 5.5.5. Листування з замовниками й іншими Контрагентами.
        %p 5.6. ІНША ІНФОРМАЦІЯ
        %p
          5.6.1. Способи доступу в приміщення ЗАМОВНИКА, комп'ютерні системи, бази даних (кодові слова,
          паролі, коди доступу та інші дані).
        %p
          5.6.2. Домашні адреси і телефони Працівників та Контрагентів ЗАМОВНИКА.
          %br
          Крім вищезазначеної інформації, КОМЕРЦІЙНОЮ ТАЄМНИЦЕЮ також є будь-яка інша інформація, отримана
          від Контрагентів ЗАМОВНИКА в будь-якій формі з позначкою або з повідомленням про режим
          конфіденційності такої інформації.
      %td
        %p.bold.center 5. LIST OF INFORMATION REPRESENTING THE COMMERCIAL SECRET
        %p 5.1. COMMERCIAL SECRET OF THE COMPANY shall include:
        %p 5.2. LEGAL INFORMATION
        %p
          5.2.1. Agreements, protocols, preliminary contracts, any unilateral, bilateral and multilateral
          legal acts both signed and drafted.
        %p 5.2.2. Forms of cooperation with counteragents.
        %p 5.3. FINANCIAL INFORMATION
        %p
          5.3.1. The size and the forms of payment of wages, bonuses, rewards, other material and monetary
          compensations of the other Contractors.
        %p
          5.3.2. The amount of rewards of the agents, intermediaries, commission agents, attorneys and
          representatives as well as other persons who provide services and/or carry out works upon the Order
          of the COMPANY.
        %p
          5.3.3. The cost of works and services carried out/provided by the COMPANY, amounts and forms of
          payment for such works and services.
        %p
          5.3.4. Dates and forms of payment of wages, bonuses, rewards, other compensations and monetary sums
          by the COMPANY.
        %p 5.3.5. Dates and forms of receiving of any monetary sums by the COMPANY.
        %p
          5.3.6. Prices of goods and services of the COMPANY not stated in the price-lists of the COMPANY as
          well as prices of goods and services stated in the special offers and business proposals.
        %p 5.4. MARKETING INFORMATION
        %p
          5.4.1. Offers, business proposals, correspondence with Ukrainian and foreign legal and physical
          persons.
        %p
          5.4.2. The names of agents and intermediaries, commission agents, attorneys and representatives.
          %br
          Business plans and plans of the development of the COMPANY as well as prognoses developed by the
          COMPANY.
        %p
          5.4.3. Analyses of the market (its separate segments) and marketing research (including their
          results).
        %p 5.5. INFORMATION OF TECHNOLOGICAL NATURE
        %p
          5.5.1. Preliminary technical specifications, task descriptions, data sheets, schemes and
          technological documentation of any kind produced by the COMPANY during the fulfilment of works
          and/or added to the results of the works executed as well as software products and other
          developments of the COMPANY.
        %p 5.5.2. Reports on works executed and services provided.
        %p 5.5.3. Type and nature of changes introduced into COMPUTER PROGRAMS.
        %p
          5.5.4. Organization of production process.
          %br
          Statistical data related to the production process (including that of on reclamations of other
          companies, production and other errors).
        %p 5.5.5. Correspondence with companies and other counteragents.
        %p 5.6. OTHER INFORMATION
        %p
          5.6.1. Ways of access to the premises of the COMPANY, computer systems, data bases (code words,
          passwords, access codes and other data).
        %p
          5.6.2. Home addresses and telephone numbers of the Employees and Counteragents of the COMPANY.
          %br
          Except the said information any other information, received from the Counteragents of the COMPANY
          in any other form bearing the note on or pointing out to the confidential nature of such
          information shall also be considered a COMMERCIAL SECRET.
    %tr
      %td.big_retreat
        %p.bold.center 6. МІСЦЕЗНАХОДЖЕННЯ, БАНКІВСЬКІ РЕКВІЗИТИ ТА ПІДПИСИ СТОРІН
        %p.bold Замовник
        %p JetThoughts LLC
        %br
        %p Адреса: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Тел.: +1 760 264 4264
        %br
        %br
        %p Директор______________________/ Nikitochkin Pavlo
      %td.big_retreat
        %p.bold.center 6. LOCATION, BANKING REQUISITES AND SIGNATURES OF THE PARTIES
        %p.bold The Company
        %p JetThoughts LLC
        %br
        %p Address: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Phone: +1 760 264 4264
        %br
        %br
        %p Director_____________________/ Nikitochkin Pavlo
    %tr
      %td.big_retreat
        %p.bold Виконавець
        %p= "ФОП #{@user.ua_user_field.full_name}"
        %br
        %p= "Адреса: #{@user.ua_user_field.address}"
        %br
        %p= "Ідентифікаційний номер: #{@user.taxpayer_id}"
        %br
        %p= "Свідоцтво № #{@user.register_number}"
        %p= "Від #{locale_date(@user.register_number_start_date, "«%d» %B %Y", :ua)}"
        %br
        %p= "п/р № #{@user.ua_user_field.c_a_number}"
        %p= @user.ua_user_field.bank_name
        %p= "Адреса банку: #{@user.ua_user_field.bank_address}"
        %p= "Bank SWIFT Code #{@user.swift_code}"
        %p= "IBAN #{@user.iban_number}"
        %br
        %br
        %p= "ФОП________________________________/#{@user.ua_user_field.short_name}"
        %br
      %td.big_retreat
        %p.bold The Contractor
        %p= "PE #{@user.en_user_field.full_name}"
        %br
        %p= "Address: #{@user.en_user_field.address}"
        %br
        %p= "Taxpayer ID: #{@user.taxpayer_id}"
        %br
        %p= "Register № #{@user.register_number}"
        %p= "As of #{locale_date(@user.register_number_start_date, "%B %d, %Y", :en)}"
        %br
        %p= "c/a № #{@user.en_user_field.c_a_number}"
        %p= @user.en_user_field.bank_name
        %p= "Bank Address: #{@user.ua_user_field.bank_address}"
        %p= "Bank SWIFT Code #{@user.swift_code}"
        %p= "IBAN #{@user.iban_number}"
        %br
        %br
        %p= "PE_________________________________/#{@user.en_user_field.short_name}"
        %br
