%tr
  %td.padding_top_11
    %p.bold Исполнитель
    %p= "#{person_type_for_locale(@person_type, :ru)} #{@user.ru_user_field.full_name}"
    %br
    %p= "Адрес: #{@user.ru_user_field.address}"
    %br
    %p= "Идентификационный номер: #{@user.taxpayer_id}"
    %br
    - if @person_type == "PE"
      %p= "Свидетельство № #{@user.register_number}"
      %p= "От #{locale_date(@user.register_number_start_date, "«%d» %B %Y", :ru)}"
    - else
      %p= "Паспорт номер: #{@user.passport_number}"
      %p= "Выдан #{@user.ru_user_field.passport_issued_by}"
    %br
    %p= "т/с № #{@user.ru_user_field.c_a_number}"
    %p= @user.ru_user_field.bank_name
    %p= "Bank SWIFT Code #{@user.swift_code}"
    %p= "IBAN #{@user.iban_number}" if @user.iban_number.present?
    %br
    %br
    %p
      #{person_type_for_locale(@person_type, :ru)}__________________/
      #{@user.ru_user_field.name_with_initials}
    %br
  %td.padding_top_11
    %p.bold The Contractor
    %p= "#{person_type_for_locale(@person_type, :en)} #{@user.en_user_field.full_name}"
    %br
    %p= "Address: #{@user.en_user_field.address}"
    %br
    %p= "Taxpayer ID: #{@user.taxpayer_id}"
    %br
    - if @person_type == "PE"
      %p= "Register № #{@user.register_number}"
      %p= "As of #{locale_date(@user.register_number_start_date, "%B %d, %Y", :en)}"
    - else
      %p= "Passport number: #{@user.passport_number}"
      %p= "Issued by #{@user.en_user_field.passport_issued_by}"
    %br
    %p= "c/a № #{@user.en_user_field.c_a_number}"
    %p= @user.en_user_field.bank_name
    %p= "Bank SWIFT Code #{@user.swift_code}"
    %p= "IBAN #{@user.iban_number}" if @user.iban_number.present?
    %br
    %br
    %p
      #{person_type_for_locale(@person_type, :en)}__________________/
      #{@user.en_user_field.short_name}
    %br
