.contract-llc-draft
  %p.center.header= "AGREEMENT # #{@contract.number} on provision of services"
  %br
  %table
    %tr
      %td
        %p.bold.center ДОГОВІР
        %p.bold.center про надання послуг
      %td
        %p
        %p.bold.center AGREEMENT
        %p.bold.center on provision of services
    %tr
      %td
        %p
          .left_text м. Львів
          .right_text= locale_date(@contract.start_date, "%d %B %Y", :ua)
      %td
        %p
          .left_text Lviv
          .right_text= locale_date(@contract.start_date, "%B %d, %Y", :en)
    %tr
      %td.padding_top_11
        %p
          %span.bold ЗАМОВНИК:
          Підприємство
          %span.bold JetThoughts LLC,
          в особі директора
          %span.bold Pavlo Nikitochkin
          з одного боку, та
          %span.bold ВИКОНАВЕЦЬ:
          #{person_type_for_locale(@person_type, :ua)}
          %span.bold= "#{@user.ua_user_field.full_name},"
          - if @person_type == "PE"
            який діє на підставі Свідоцтва про державну реєстрацію суб’єкта підприємницької діяльності
            No #{@user.register_number} та є платником єдиного податку, з іншого боку, уклали цей ДОГОВІР про
            наступне:
          - else
            з іншого боку, уклали цей ДОГОВІР про наступне:
      %td.padding_top_11
        %p
          %span.bold The COMPANY: JetThoughts LLC
          in the person of its Director
          %span.bold Pavlo Nikitochkin
          on one part, and
          %span.bold The CONTRACTOR:
          #{person_type_for_locale(@person_type, :en)}
          %span.bold= "#{@user.en_user_field.full_name},"
          - if @person_type == "PE"
            acting on the basis of the Certificate on State registration of a subject of entrepreneurial
            activity # #{@user.register_number} and is the taxpayer of the single tax on the other part have
            concluded the AGREEMENT on the following:
          - else
            on the other part have concluded the AGREEMENT on the following:
    %tr
      %td
        %p.bold.padding_top_11 1. ТЕРМІНИ ДОГОВОРУ
        %p 1.1. У даному ДОГОВОРІ терміни вживаються у такому значенні:
        %br
        %p
          %span.bold ДОГОВІР
          – це даний документ, який включає в себе всі додатки до нього та всю зазначену в ньому
          документацію, а також будь-які зміни та/або доповнення, які СТОРОНИ можуть укласти в майбутньому в
          письмовій формі, підписані уповноваженими представниками СТОРІН, які встановлюють, доповнюють,
          конкретизують, уточнюють або змінюють умови ДОГОВОРУ або доповнень до нього.
        %br
        %p
          %span.bold ЗАМOВНИК
          – особа, що надає ВИКОНАВЦЕВІ ЗАМОВЛЕННЯ, приймає його та сплачує ВИНАГОРОДУ  на умовах ДОГОВОРУ.
          Під терміном ЗАМОВНИК розуміється ”JetThoughts LLC”.
        %br
        %p
          %span.bold КЛІЄНТ ЗАМОВНИКА
          – фізична або юридична особа, в інтересах якої може виконуватися ЗАМОВЛЕННЯ.
        %br
        %p
          %span.bold ВИКОНАВЕЦЬ
          – особа, яка приймає ЗАМОВЛЕННЯ, якісно його виконує та передає ЗАМОВНИКОВІ на умовах ДОГОВОРУ.
        %br
        %p
          %span.bold ЗАМОВЛЕННЯ
          – завдання, надане ЗАМОВНИКОМ ВИКОНАВЦЕВІ на умовах ДОГОВОРУ та ТЕХНІЧНОГО ЗАВДАННЯ.
        %br
        %p
          %span.bold СТОРОНИ
          – ЗАМОВНИК та ВИКОНАВЕЦЬ по ДОГОВОРУ при зазначенні їх разом по тексту одночасно.
        %br
        %p
          %span.bold ВИНАГОРОДА
          – плата ЗАМОВНИКОМ ВИКОНАВЦЕВІ грошової суми за виконання останнім ЗАВДАННЯ згідно умов ДОГОВОРУ.
        %br
        %p
          %span.bold ТЕХНІЧНЕ ЗАВДАННЯ
          – Додаток A до цього ДОГОВОРУ, який містить в собі ЗАМОВЛЕННЯ (декілька ЗАМОВЛЕНЬ) ЗАМОВНИКА
          ВИКОНАВЦЕВІ, в якому обумовлені термін виконання; основні цілі та характеристики ЗАМОВЛЕННЯ;
          розмір ВИНАГОРОДИ; ім’я або найменування КЛІЄНТА ЗАМОВНИКА, якщо ЗАМОВЛЕННЯ виконується в
          інтересах КЛІЄНТА ЗАМОВНИКА; та інші вимоги, погоджені СТОРОНАМИ і що складає невід’ємну частину
          цього ДОГОВОРУ.
      %td
        %p.bold.padding_top_11 1. DEFINITION OF TERMS
        %p 1.1. Terms of the AGREEMENT shall have the following meaning:
        %br
        %p
          %span.bold AGREEMENT
          shall mean the present document which includes its all appendices and all documentation stated as
          well as any amendments and/or addendum that the PARTIES can conclude in the future in writing and
          signed by authorized representatives of the PARTIES which set up, annex, concretize, specify or
          amend the terms of the AGREEMENT or its addendum.
        %br
        %p
          %span.bold COMPANY
          shall mean a person who provides the CONTRACTOR with the ORDER, accepts it and pays the
          REMUNERATION under the AGREEMENT. The term COMPANY shall mean “JetThoughts LLC”.
        %br
        %p
          %span.bold COMPANY СLIENT
          shall mean a person or a legal entity for the benefit of whom the ORDER can be fulfilled.
        %br
        %p
          %span.bold CONTRACTOR
          shall mean a person who undertakes the ORDER, properly carries it out and transfers it to the
          COMPANY under the AGREEMENT.
        %br
        %p
          %span.bold ORDER
          shall mean an assignment given to the CONTRACTOR by the COMPANY under the AGREEMENT and the
          SPECIFICATION OF REQUIREMENTS .
        %br
        %p
          %span.bold PARTIES
          shall mean the COMPANY and the CONTRACTOR under the AGREEMENT when mentioned in the text
          altogether.
        %br
        %p
          %span.bold REMUNERATION
          shall mean payment of the sum of money made by the COMPANY to the CONTRACTOR under the AGREEMENT.
        %br
        %p
          %span.bold SPECIFICATION OF REQUIREMENTS
          shall mean an Appendix A attached hereto, containing ORDER (several ORDERS) of the COMPANY to the
          CONTRACTOR and which stipulates the term of fulfillment, principal goals and characteristics of
          the ORDER; amount of the REMUNERATION; name of the COMPANY CLIENT, if the ORDER is fulfilled for
          the benefit of the COMPANY CLIENT and other requirements agreed upon by the PARTIES and which
          compose an integral part of the AGREEMENT.
    %tr
      %td
        %p.bold.padding_top_11 2. ПРЕДМЕТ ДОГОВОРУ
        %p
          2.1. ЗАМОВНИК доручає, приймає та оплачує виконане ЗАМОВЛЕННЯ, а ВИКОНАВЕЦЬ бере на себе
          виконання та здачу ЗАМОВЛЕННЯ, зміст і обсяг якого в цілому та по етапах визначається СТОРОНАМИ в
          ТЕХНІЧНОМУ ЗАВДАННІ.
        %p
          2.2. ЗАМОВЛЕННЯ виконується ВИКОНАВЦЕМ у відповідності до узгодженого СТОРОНАМИ ТЕХНІЧНОГО
          ЗАВДАННЯ, а також загальних технічних, наукових й інших вимог.
        %p
          2.3. Термін виконання окремих етапів (розділів, частин) ЗАМОВЛЕННЯ визначається ТЕХНІЧНИМ
          ЗАВДАННЯМ. У випадку дострокового виконання ЗАМОВЛЕННЯ ВИКОНАВЦЕМ СТОРОНИ окремо визначають порядок
          приймання та оплати виконаного ЗАМОВЛЕННЯ.
      %td
        %p.bold.padding_top_11 2. THE SUBJECT OF THE AGREEMENT
        %p
          2.1. The COMPANY shall entrust with, accept and pay for the ORDER and the CONTRACTOR shall
          undertake the fulfillment and delivery of the ORDER structure and full scope of which shall be
          defined by the PARTIES in the SPECIFICATION OF REQUIREMENTS.
        %p
          2.2. The ORDER shall be fulfilled by the CONTRACTOR according to the SPECIFICATION OF
          REQUIREMENTS approved by the PARTIES as well as general technical, scientific and other
          requirements.
        %p
          2.3. Terms of fulfillment of separate stages (categories, parts) of the ORDER shall be specified
          by the SPECIFICATION OF REQUIREMENTS. In case of early fulfillment of the ORDER by the CONTRACTOR
          the PARTIES shall define an individual procedure of acceptance and payment for the ORDER fulfilled.
    %tr
      %td
        %p.bold.padding_top_11 3. ПОРЯДОК СПЛАТИ ВИНАГОРОДИ
        %p
          3.1. За виконання ЗАМОВЛЕННЯ на умовах ДОГОВОРУ, ЗАМОВНИК сплачує ВИКОНАВЦЕВІ ВИНАГОРОДУ,
          загальний розмір якої визначається в ТЕХНІЧНОМУ ЗАВДАННІ по кожному конкретному ЗАМОВЛЕННЮ та
          включається до щомісячного (160 годин) інвойсу, створеного ВИКОНАВЦЕМ.
        %p
          3.2. ЗАМОВНИК здійснює сплату ВИНАГОРОДИ ВИКОНАВЦЕВІ протягом 14 (чотирнадцяти) календарних днів з
          дати надсилання інвойсу. За домовленістю сторін ЗАМОВНИК може здійснювати передоплату ВИКОНАВЦЕВІ.
          %br
          З огляду на строки завершення надання окремих обсягів (етапів) ЗАМОВЛЕННЯ. СТОРОНИ можуть
          встановлювати інший порядок сплати ВИНАГОРОДИ, особливості якої визначаються за взаємною
          домовленістю в письмовій формі.
        %p
          3.3. СТОРОНИ ДОГОВОРУ домовились про такий порядок сплати ВИНАГОРОДИ:
          %br
          Сплата ВИНАГОРОДИ за надані послуги згідно умов ДОГОВОРУ здійснюється у безготівковому порядку,
          шляхом перерахування ЗАМОВНИКОМ належної до сплати суми, на поточний банківський рахунок
          ВИКОНАВЦЯ, якщо інше письмово не погоджено СТОРОНАМИ.
      %td
        %p.bold.padding_top_11 3. THE PROCEDURE OF PAYMENT OF THE REMUNERATION
        %p
          3.1. The COMPANY shall pay to the CONTRACTOR the REMUNERATION for the fulfillment of the ORDER,
          total amount of which shall be stipulated by the SPECIFICATION OF REQUIREMENTS for each particular
          ORDER and included in the monthly (160 hours) invoices, sent by the CONTRACTOR.
        %p
          3.2. The COMPANY shall pay the REMUNERATION during the period of 14 (fourteen) calendar days from
          the date of the invoice. By the mutual AGREEMENT of the Parties the COMPANY may do a prepayment to
          the CONTRACTOR.
          %br
          Taking into consideration the terms of completing of provision of certain parts (phases) of the
          ORDER, the PARTIES can establish another procedure of payment of the REMUNERATION, specific
          details of which shall be stipulated upon mutual AGREEMENT of the PARTIES in written form.
        %p
          3.3. The Parties have agreed on the following procedure of payment of the REMUNERATION:
          %br
          Payment of the REMUNERATION for the rendered services by the CONTRACTOR under the AGREEMENT shall
          be carried out as a money transfer by the COMPANY of the due and necessary sum to the current bank
          account of the CONTRACTOR unless otherwise has been agreed by the PARTIES in written form.
    %tr
      %td
        %p.bold.padding_top_11 4. ОСОБЛИВОСТІ ВИКОНАННЯ ТА ПРИЙМАННЯ ЗАМОВЛЕННЯ
        %p 4.1. Виконання ЗАМОВЛЕННЯ:
        %p
          4.1.1. ВИКОНАВЕЦЬ виконує свої обов’язки за цим ДОГОВОРОМ особисто. Наймані працівники ВИКОНАВЦЯ
          або треті особи можуть залучатись ВИКОНАВЦЕМ до виконання ЗАМОВЛЕНЬ за ДОГОВОРОМ лише за письмовим
          погодженням із ЗАМОВНИКОМ.
        %p
          4.1.2. ЗАМОВНИК не має право обмежувати ВИКОНАВЦЯ при здійсненні останнім його підприємницької
          діяльності. ЗАМОВНИК не заперечує про підприємницькі стосунки ВИКОНАВЦЯ з третіми особами та
          конкурентами ЗАМОВНИКА.
        %p 4.1.3. МІСЦЕМ ВИКОНАННЯ ЗАМОВЛЕННЯ є переважно територія ЗАМОВНИКА (офісні чи інші приміщення).
        %p
          4.1.4. Якщо МІСЦЕ ВИКОНАННЯ ЗАМОВЛЕННЯ знаходиться на території ЗАМОВНИКА, без його згоди
          ВИКОНАВЕЦЬ не може виносити обладнання, устаткування чи інше майно, документи, інформацію на
          будь-яких носіях, що є власністю ЗАМОВНИКА, або власністю третіх осіб, що знаходится у
          розпорядженні ЗАМОВНИКА.
        %p
          4.1.5. ЗАМОВНИК має право щоденно, якщо це не перешкоджає роботі, перевіряти хід виконання
          ЗАМОВЛЕННЯ за ДОГОВОРОМ.
        %p 4.2. Конкуренція
        %p
          4.2.1. ВИКОНАВЕЦЬ, з метою захисту конфіденційної та комерційної інформації про господарську
          діяльність ЗАМОВНИКА, без згоди ЗАМОВНИКА, зобов’язується не мати безпосередні або опосередковані
          (через третіх осіб) контакти з будь-якими клієнтами ЗАМОВНИКА (у т. ч. потенційними - юридичними
          або фізичними особами - підприємцями, які займаються діяльністю, подібною до діяльності КЛІЄНТІВ
          ЗАМОВНИКА), якщо такі контакти завдають або можуть завдати шкоди фінансовим або іншим інтересам
          ЗАМОВНИКА, зменшити очікувані ним прибутки.
        %p
          4.2.2. ВИКОНАВЕЦЬ зобов’язується:
          %br
          а) без згоди ЗАМОВНИКА не рекомендувати клієнтам ЗАМОВНИКА будь-яких третіх осіб (фізичних та/або
          юридичних), які виконують роботи та/або надають послуги, аналогічні роботам чи послугам, що
          виконуються/надаються або можуть виконуватися/надаватися ЗАМОВНИКОМ за ДОГОВОРОМ.
          %br
          б) ніяким чином не сприяти зверненню клієнтів ЗАМОВНИКА до будь-яких третіх осіб (фізичних та/або
          юридичних, які володіють будь-якою часткою власності, або є акціонерами у компаніях клієнтів
          ЗАМОВНИКА) для отримання аналогічних робіт та/або послуг, що виконуються/надаються ЗАМОВНИКОМ за
          ДОГОВОРОМ.
          %br
          в) не вести переговори з будь-якими клієнтами ЗАМОВНИКА стосовно рекомендації послуг третіх осіб
          або будь-якого іншого співробітництва з ними,  якщо це не було попередньо схвалено ЗАМОВНИКОМ.
          %br
          г) протягом 1-го року після завершення правовідносин за ДОГОВОРОМ не виконувати роботи,
          передбачені Технічним Завданням для конкурентів КЛІЄНТІВ ЗАМОВНИКА (фізичні та/або юридичні особи,
          які займаються подібними видами діяльності).
      %td
        %p.bold.padding_top_11 4. SPECIFIC FEATURES OF FULFILLMENT OF THE ORDER
        %p 4.1. Fulfillment of the ORDER:
        %p
          4.1.1. The CONTRACTOR shall personally fulfill its obligations hereunder. The employees of the
          CONTRACTOR or any third persons can be engaged by the CONTRACTOR into fulfilling of the ORDER under
          the AGREEMENT upon written or verbal consent of the COMPANY.
        %p
          4.1.2. The COMPANY is not entitled to limit the CONTRACTOR’s business activity. The COMPANY shall
          not object to the CONTRACTOR’s business activities with third parties and COMPANY’s competitors.
        %p
          4.1.3. PLACE OF THE ORDER FULFILLMENT is predominantly the territory of the CONTRACTOR (offices
          and other premises).
        %p
          4.1.4. Should the PLACE OF THE ORDER FULFILLMENT be in the territory of the COMPANY, the
          CONTRACTOR shall have no right without consent of the COMPANY to take out any equipment or other
          property, documents, information on any storage media, which are owned by the COMPANY or by other
          third persons and are at the COMPANY’s disposal.
        %p
          4.1.5. The COMPANY shall have the right to check daily the process of the ORDER fulfillment
          hereunder, provided this doesn’t interfere with ORDER fulfillment.
        %p 4.2. Competition
        %p
          4.2.1. The CONTRACTOR with the aim of protection of confidential and commercial information on
          the economic activity of the COMPANY shall not without consent of the COMPANY have direct or
          indirect (via third persons) contacts with any clients of the COMPANY (including potential ones,
          that is legal entities or natural persons that undertake the activity similar to that of the
          COMPANY) in case such contacts cause or can cause financial losses or damage other interests of the
          COMPANY and reduce its expected profits.
        %p
          4.2.2. The CONTRACTOR shall:
          %br
          a) without consent of the COMPANY recommend to no clients of the COMPANY any third persons
          (natural persons and/or legal entities) that carry out works and/or provide services similar to
          the works and services which are carried out/provided or can be carried out/provided by the
          COMPANY hereunder.
          %br
          b) in no way assist the clients of the COMPANY in contacting any third persons (private persons or
          legal entities that possess any portion of ownership or shareholding in the companies of COMPANY
          clients) with the aim of receiving similar works and /or services which are carried out/provided
          by the COMPANY hereunder.
          %br
          c) carry out no negotiations with any clients of the COMPANY as to the recommendation of services
          of third parties or any other form of cooperation with them unless it has been prior agreed upon
          by the COMPANY.
          %br
          d) during the 1st year after completing the legal relations under the AGREEMENT carry out no works
          which represent the subject of the present AGREEMENT for the competitors of the COMPANY CLIENTS
          (natural persons and/or legal entities engaged in the similar kinds of activity).
    %tr
      %td
        %p.bold.padding_top_11 5. ОБОВ’ЯЗКИ СТОРІН
        %p 5.1. Обов’язки ЗАМОВНИКА:
        %p
          5.1.1. Забезпечити ВИКОНАВЦЯ інформацією, матеріалами та обладнанням, необхідними для виконання
          ЗАМОВЛЕННЯ на умовах ДОГОВОРУ та прийняти належним чином виконане ВИКОНАВЦЕМ ЗАМОВЛЕННЯ в порядку,
          встановленому ДОГОВОРОМ.
        %p 5.1.2. на вимогу ВИКОНАВЦЯ, надати рекомендації щодо наданих за даним ДОГОВОРОМ послуг.
        %p
          5.1.3. Сплатити ВИНАГОРОДУ за належним чином виконане ВИКОНАВЦЕМ ЗАМОВЛЕННЯ в розмірі,
          визначеному у відповідному ТЕХНІЧНОМУ ЗАВДАННІ  (або іншим узгодженим СТОРОНАМИ документом).
          Прийняттю та оплаті підлягають лише ті ЗАМОВЛЕННЯ, які виконані ВИКОНАВЦЕМ належним чином та в
          повному обсязі у відповідності до ТЕХНІЧНОГО ЗАВДАННЯ.
        %p 5.2. Обов’язки ВИКОНАВЦЯ:
        %p
          5.2.1. Виконувати ЗАМОВЛЕННЯ належним чином, у повному обсязі, з належною якістю та у суворій
          відповідності до ТЕХНІЧНОГО ЗАВДАННЯ та передавати останньому його у визначений строк.
        %p
          5.2.2. Не передавати будь-яким третім особам, не розголошувати та не оприлюднювати в будь-який
          інший спосіб без попередньої письмової згоди ЗАМОВНИКА одержані результати ЗАМОВЛЕННЯ за ДОГОВОРОМ,
          відомості про такі результати або пов’язані з ними.
        %p
          5.2.3. Не використовувати в комерційних або інших цілях без попереднього письмового дозволу
          ЗАМОВНИКА або клієнтів ЗАМОВНИКА, інформацію, отриману в ході виконання ДОГОВОРУ.
        %p 5.2.4. На вимогу ЗАМОВНИКА інформувати його про хід виконання ДОГОВОРУ.
        %p
          5.2.5. Ефективно та обережно використовувати обчислювальну та інші техніку (обладнання, меблі
          тощо), надану ЗАМОВНИКОМ для виконання ДОГОВОРУ, ощадливо та раціонально витрачати канцелярські
          товари та інші матеріали, електроенергію, а також інші матеріальні ресурси. ВИКОНАВЕЦЬ без згоди
          ЗАМОВНИКА не має права володіти, користуватися чи розпоряджатися будь-яким майном останнього.
        %p
          5.2.6. Не встановлювати на обладнання ЗАМОВНИКА будь-яке програмне забезпечення без попередньої
          письмової згоди останнього; не використовувати надане обладнання для розробки комп’ютерних
          програм, що мають ознаки вірусів, розповсюджувати та/або зберігати матеріали, у будь-якій формі,
          що суперечать засадам суспільної моралі (наприклад, матеріали з насильством або порнографією).
          %br
          ВИКОНАВЕЦЬ має право встановлювати та використовувати на обладнанні ЗАМОВНИКА таке програмне
          забезпечення, що відповідає ліцензійним вимогам про безкоштовне або умовно-безкоштовне програмне
          забезпечення. Опис даних видів програмного забезпечення наведено нижче.
          %br
          Безкоштовне програмне забезпечення – це захищене авторським правом програмне забезпечення, плата
          за користування яким відсутня.
          %br
          Умовно-безкоштовне програмне забезпечення - це захищене авторським правом програмне забезпечення,
          плата за користування яким відсутня тільки впродовж певного випробувального терміну.
        %p
          5.2.7. Відшкодувати ЗАМОВНИКУ збитки, якщо вони завдані з вини  ВИКОНАВЦЯ, будь-яким пошкодженням
          чи втратою майна в повному обсязі.
        %p
          5.2.8. По завершенню договірних відносин повернути ЗАМОВНИКУ майно, документацію, та інші
          технічні засоби, які були ним передані для виконання робіт за ДОГОВОРОМ.
        %br
      %td
        %p.bold.padding_top_11 5. OBLIGATIONS OF THE PARTIES
        %p 5.1. The COMPANY shall:
        %p
          5.1.1. provide the CONTRACTOR with information, materials necessary to fulfill the ORDER under
          the AGREEMENT and accept the ORDER properly fulfilled by the CONTRACTOR according to the procedure
          stipulated by the AGREEMENT.
        %p
          5.1.2. provide reference letters on CONTRACTOR’S demand as to services provided under the scope
          of this contract.
        %p
          5.1.3. pay out the REMUNERATION for the ORDER properly fulfilled by the CONTRACTOR in the amount
          stipulated in the SPECIFICATION OF REQUIREMENTS (or other document agreed by the PARTIES). Only
          ORDERS properly and completely fulfilled by the CONTRACTOR according to SPECIFICATION OF
          REQUIREMENTS shall be liable to payment and acceptance.
        %p 5.2. The CONTRACTOR shall:
        %p
          5.2.1. fulfill the ORDER properly, completely, with required quality and in compliance with the
          SPECIFICATION OF REQUIREMENTS and transfer to the COMPANY within the stipulated terms.
        %p
          5.2.2. not transfer the ORDER to any third persons, shall not disclose and publish in any other
          way the results of the ORDER fulfilled under the AGREEMENT as well as the information on such
          results or related thereto without prior written consent of the COMPANY.
        %p
          5.2.3. not use information received in the course of the fulfillment of the AGREEMENT in
          commercial or other purposes without written consent of the COMPANY or clients of the COMPANY.
        %p 5.2.4. inform the COMPANY on the process of implementation of the AGREEMENT at its request.
        %p
          5.2.5. effectively and carefully use computing and other devices (equipment, furniture etc.)
          provided by the COMPANY for the fulfillment of the AGREEMENT, wisely and rationally use stationary
          and other materials, electric energy as well as other material resources. The CONTRACTOR shall not
          have the ownership right, the right to use and dispose of any property of the COMPANY without
          consent of the latter.
        %p
          5.2.6. Do not install any software at the equipment of the COMPANY without prior written consent
          of the latter; shall not use the equipment provided for the development of computer programs which
          has signs of viruses and distribute and/or store materials in any form that contradict moral
          standards of the society (e.g. materials containing violence or pornography).
          %br
          The CONTRACTOR shall have the right to install and use software at the equipment of the COMPANY
          under the license requirements to the free or shareware software. The description of the software
          is provided below.
          %br
          Free software – software protected by the copyright used on a free-of-charge basis.
          %br
          Shareware software – software protected by the copyright used on a free-of-charge basis only
          during a definite trial period.
        %p
          5.2.7. compensate the damages to the COMPANY, which were inflicted by the CONTRACTOR by any
          damage or loss of the property in full.
        %p
          5.2.8. return property, documentation and other technical facilities transferred with the aim of
          work fulfillment under the AGREEMENT to the COMPANY after the expiration of the contract relations.
        %br
    %tr
      %td
        %p.bold.padding_top_11 6. ВІДПОВІДАЛЬНІСТЬ СТОРІН
        %p
          6.1. За порушення взятих за ДОГОВОРОМ зобов’язань СТОРОНИ несуть відповідальність, передбачену
          чинним законодавством України та ДОГОВОРОМ.
      %td
        %p.bold.padding_top_11 6. RESPONSIBILITIES OF THE PARTIES
        %p
          6.1. The PARTIES shall bear the responsibility stipulated by the current legislation of Ukraine
          and the AGREEMENT for the breach of the obligations under the AGREEMENT.
    %tr
      %td
        %p.bold.padding_top_11 7. ЗБЕРЕЖЕННЯ КОМЕРЦІЙНОЇ ТАЄМНИЦІ ТА КОНФІДЕНЦІЙНОЇ ІНФОРМАЦІЇ
        %p
          7.1. Сторони домовились, що текст ДОГОВОРУ (крім випадків, передбачених законодавством України),
          вихідні данні та виконані ЗАМОВЛЕННЯ, інформація, документація, що передані або створені
          ВИКОНАВЦЕМ при виконанні ДОГОВОРУ, виражені формі: документ, інформація та ін. є конфіденційними
          та складають комерційну таємницю ЗАМОВНИКА та за будь-яких умов не підлягає розголошенню
          ВИКОНАВЦЕМ.
          %br
          Також не підлягає розголошенню, третім особам, інформація щодо ВИКОНАВЦЯ, яка не стосується
          виконання цього ДОГОВОРУ.
        %p
          7.2. Протягом всього терміну дії ДОГОВОРУ ВИКОНАВЕЦЬ не буде розголошувати ніякої інформації,
          отриманої від ЗАМОВНИКА, що містить комерційну таємницю або є конфіденційною, а також щодо
          переліченого у п. п. 7.1. ДОГОВОРУ, будь-якій іншій особі, підприємству, організації тощо та не
          буде використовувати цю інформацію для своєї власної вигоди.
        %p
          7.3. Інформація не буде вважатися конфіденційною та ВИКОНАВЕЦЬ не буде мати зобов’язань стосовно
          такої інформації, якщо вона відповідає хоча б одній із таких умов:
          %br
          а) вже була відома ВИКОНАВЦЮ до укладання ДОГОВОРУ;
          %br
          б) отримана легально від третьої особи поза зв’язком з цим ДОГОВОРОМ;
          %br
          в) розкрита публічно самим ЗАМОВНИКОМ;
          %br
          г) розкрита за обґрунтованою письмовою вимогою державного органу, повноваження якого щодо отримання такої інформації, визначені чинним законодавством України;
          %br
          ґ) дозволена до розповсюдження з письмової  згоди ЗАМОВНИКА.
          %br
          У кожному зазначеному випадку ВИКОНАВЕЦЬ повинен надати ЗАМОВНИКУ письмові пояснення по кожному випадку оприлюднення чи витоку інформації з документальним підтвердженням правомірності своїх дій протягом 10 календарних днів з дати надходження письмового запиту.
        %p
          7.4. ВИКОНАВЕЦЬ гарантує збереження конфіденційності особисто, а також стосовно своїх найманих
          працівників. ВИКОНАВЕЦЬ зобов'язується застосувати всіх необхідних заходів для того, щоб запобігти
          повному або частковому розголошенню будь-яким способом комерційної таємниці. Відомості, що
          складають комерційну таємницю в будь-якій формі, можуть бути передані третім особам винятково за
          попередньою письмовою згодою ЗАМОВНИКА.
        %p
          7.5. У випадку залучення ВИКОНАВЦЕМ до виконання робіт найманих працівників або третіх осіб, він
          гарантує, що з переданою документацією та інформацією будуть ознайомлені тільки ті особи, що
          безпосередньо пов'язані із виконанням ЗАМОВЛЕННЯ за ДОГОВОРОМ. Перелік таких осіб погоджується з
          ЗАМОВНИКОМ у письмовій формі. Крім того, з цими працівниками обов’язково укладаються угоди про
          нерозголошення комерційної інформації та умов ДОГОВОРУ. Форма (зразок) такої угоди надається
          ЗАМОВНИКУ на затвердження.
        %p
          7.6. У випадку розголошення конфіденційної інформації або комерційної таємниці за ДОГОВОРОМ
          ВИКОНАВЦЕМ, його найманими працівниками або залученими ним третіми особами, партнерами з
          господарській діяльності або особами з їх персоналу, ВИКОНАВЕЦЬ відповідає відповідно до положень
          чинного законодавства та зобов'язується відшкодувати ЗАМОВНИКУ всі понесені в зв'язку з цим збитки.
        %p
          7.7. Зобов'язання щодо зберігання конфіденційності продовжують зберігати свою силу і після
          завершення дії цього ДОГОВОРУ або його дострокового розірвання протягом 5-ти років після
          припинення дії (розірвання) ДОГОВОРУ.
      %td
        %p.bold.padding_top_11 7. KEEPING OF COMMERCIAL SECRET AND CONFIDENTIAL INFORMATION
        %p
          7.1. The Parties have agreed that the text of the AGREEMENT (except for cases stipulated by the
          legislation of Ukraine), outgoing data and ORDERS fulfilled, information, documentation
          transferred or created by the CONTRACTOR during the fulfillment of the AGREEMENT in form:
          document, information etc. shall be considered confidential and constitute commercial secret of
          the COMPANY and shall be subject to disclosure by the CONTRACTOR under no circumstances.
          %br
          Personal information about CONTRACTOR is also agreed to be confidential and COMPANY shall not
          disclose that to third parties.
        %p
          7.2. During the whole period of validity of the AGREEMENT the CONTRACTOR shall not disclose any
          information obtained from the COMPANY which contains commercial secret or is confidential as well
          as disclose the information listed in paragraph 7.1 to any person, enterprise or organization etc.
          and use this information for its own benefit.
        %p
          7.3. Information shall not be considered confidential and the CONTRACTOR shall not have any
          obligations as to such information in case it meets at least one of the following requirements:
          %br
          a) was already known to the CONTRACTOR before concluding the AGREEMENT;
          %br
          b) was legally obtained from a third person not in connection with the AGREEMENT;
          %br
          c) was publicly disclosed by the COMPANY itself;
          %br
          d) was disclosed due to the substantiated written request of the State authority responsibilities
          of which include obtaining of such information stipulated by the current legislation of Ukraine;
          %br
          e) was allowed to distribution according to the written consent of the COMPANY.
          %br
          The CONTRACTOR in any case shall provide the COMPANY with the written explanations concerning each
          case of disclosure or information leakage as well as confirm with the documents the legitimacy of
          its actions within 10 calendar days from the date of receiving of the written inquiry.
        %p
          7.4. The CONTRACTOR shall guarantee the preservation of confidentiality personally and on behalf
          of its employees. The CONTRACTOR shall use all necessary measures to prevent full or partial
          disclosure of the commercial secret. Information constituting commercial secret in any form can be
          transferred to third persons only upon the prior written consent of the COMPANY.
        %p
          7.5. Should the CONTRACTOR engage hired employees or third persons into fulfillment of works, he
          shall guarantee that only those persons directly related to the fulfillment of the ORDER under the
          AGREEMENT will be familiarized with documentation and information transferred. The list of such
          persons shall be agreed with the COMPANY in writing. Moreover, such persons shall sign AGREEMENTS
          on non-disclosure of the commercial information and terms of the AGREEMENT. The COMPANY shall be
          provided with the form (draft) of such AGREEMENT for approval.
        %p
          7.6. Should the confidential information or commercial secret under the AGREEMENT be disclosed by
          the CONTRACTOR, its employees or third persons engaged by him, partners in economic activities or
          their personnel, the CONTRACTOR shall bear responsibility according to the current legislation and
          shall compensate to the COMPANY the damages inflicted in connection with it.
        %p
          7.7. Liabilities as to the preservation of confidentiality shall remain in force after the
          expiration of validity of the AGREEMENT or its early termination for over 5 years from the date of
          the expiration (termination) of the AGREEMENT.
    %tr
      %td
        %p.bold.padding_top_11 8. ФОРС-МАЖОРНІ ОБСТАВИНИ
        %p
          8.1 СТОРОНИ повинні неухильно виконувати свої зобов’язання за ДОГОВОРОМ. Єдиною підставою для
          звільнення від відповідальності визнаються обставини, викликані подіями, що не залежать від волі
          сторони, яка не могла б їх уникнути, якщо ці обставини наступили після укладання ДОГОВОРУ та
          заважають його повному або частковому виконанню (форс-мажор або обставини непереборноїсили).
        %p
          8.2. Форс-мажорними обставинами за ДОГОВОРОМ є: пожежа, стихійне лихо, зміна законодавства
          України, дії органів державної влади України або інші подібні обставини, що не залежать від волі
          СТОРІН.
        %p
          8.3. Про настання форс-мажорних обставин, передбачуваний термін їх дії та припинення СТОРОНА, для
          якої вони настали, письмово сповіщає іншу СТОРОНУ. Неповідомлення про настання форс-мажорних
          обставин позбавляє СТОРОНУ права посилатися на них, як на підстави звільнення від відповідальності.
        %p
          8.4. Настання форс-мажорних обставин і тривалість їхньої дії, підтверджуються довідками
          Торгово-промислових палат за місцем їх настання або іншими документами компетентних органів.
        %p
          8.5. Якщо форс-мажорні обставини тривають більш шести місяців, кожна зі СТОРІН вправі розірвати
          ДОГОВІР, повернувши іншій Стороні все майно чи грошові кошти, що були наперед отримані для
          виконання цього ДОГОВОРУ до кінця строку його дії. При цьому жодна із СТОРІН не має права вимагати
          від іншої відшкодування можливих збитків.
      %td
        %p.bold.padding_top_11 8. FORCE MAJEURE

        %p
          8.1. The PARTIES shall steadily carry out their obligations under the AGREEMENT. The only ground
          for releasing from responsibility shall be the circumstances caused by conditions beyond the
          control of the Party which could not avoid them when such circumstances appeared after concluding
          of the AGREEMENT and interfere with its full or partial fulfillment (force majeure or
          circumstances of insuperable force).
        %p
          8.2. The AGREEMENT defines the force majeure circumstances as fires, natural disasters, changes
          introduced into the legislation of Ukraine, actions of the State authorities of Ukraine or other
          similar circumstances beyond control of the PARTIES.
        %p
          8.3. The PARTY under the influence of force majeure circumstances shall notify the other PARTY in
          writing on their commencement, anticipated duration and termination. Should the PARTY fail to
          inform the other PARTY on the force majeure circumstances arisen, it shall be deprived of the
          right to refer to them as the ground for releasing from responsibility.
        %p
          8.4. Arising of the force-majeure circumstances as well as their duration shall be confirmed by
          the notes issued by the Chamber of Commerce and Industry at the place of the arising or any other
          documents issued by competent authorities.
        %p
          8.5. Should the force-majeure circumstances last more than six months, each PARTY shall have the
          right to terminate the AGREEMENT and return to the other PARTY all the property or monetary assets
          received in advance with the aim of fulfillment of the AGREEMENT before the expiration of its
          validity. Herein neither Party shall have the right to demand a compensation of damages from the
          other PARTY.
    %tr
      %td
        %p.bold.padding_top_11 9. СТРОК ДІЇ ДОГОВОРУ
        %p 9.1. Строк дії ДОГОВОРУ встановлюється до #{locale_date(@contract.end_date, "%d %B %Y", :ua)}.
        %p
          9.2. Строк дії ДОГОВОРУ може бути продовжений на наступний календарний рік, якщо жодна СТОРОНА не
          виявила побажання про закінчення умов ДОГОВОРУ, повідомивши іншу СТОРОНУ за 30 календарних днів до
          спливу терміну дії ДОГОВОРУ.
      %td
        %p.bold.padding_top_11 9. PERIOD OF VALIDITY OF THE AGREEMENT
        %p 9.1. The AGREEMENT shall be valid till #{locale_date(@contract.start_date, "%B %d, %Y", :en)}.
        %p
          9.2. The validity of the AGREEMENT can be prolonged for the next calendar year should neither
          PARTY wish to terminate the AGREEMENT by informing the other PARTY on this 30 days prior to the
          expiration of the AGREEMENT.
    %tr
      %td
        %p.bold.padding_top_11 10. ІНШІ УМОВИ
        %p
          10.1. Після підписання ДОГОВОРУ всі попередні переговори за ним, листування, попередні угоди та
          протоколи про наміри з питань, що так чи інакше стосуються ДОГОВОРУ, втрачають юридичну силу.
        %p
          10.2. У випадку припинення ДОГОВОРУ за будь-яких підстав, в тому числі через закінчення строку
          дії, дострокове розірвання чи обставин, передбачених п.п. 8.5., ВИКОНАВЕЦЬ зобов’язаний повернути
          ЗАМОВНИКУ все обладнання, матеріали, програмне забезпечення та інше майно (або грошові кошти),
          отримані для виконання робіт. Електронні копії (примірники) результатів робіт (документація,
          комп’ютерні програми чи їх частини), що залишаються на електронних носіях, що належать
          ЗАМОВНИКОВІ, мають бути знищені.
        %p
          10.3. ЗАМОВНИК має право розірвати ДОГОВІР в односторонньому порядку, якщо:
          %br
          а) ВИКОНАВЕЦЬ порушив умови п.п. 5.2.2.; 5.2.4;
          %br
          б) ВИКОНАВЕЦЬ завдав збитків або порушив комерційні інтереси ЗАМОВНИКА.
        %p
          10.3.1. Сторони мають право розірвати ДОГОВІР в односторонньому порядку, сповістивши про це один
          одного в письмовій формі за 30 календарних днів до розірвання ДОГОВОРУ. Протягом цього строку
          Сторони забов’язані виконувати всі умови передбачені цим ДОГОВОРОМ.
        %p
          10.4. Положення пункту 7 ДОГОВОРУ зберігають свою чинність для Сторін і після закінчення дії
          ДОГОВОРУ.
        %p
          10.5. Усі спори за ДОГОВОРОМ розв’язуються шляхом переговорів між Сторонами. У разі недосягнення
          взаємної згоди, спір вирішується в судовому порядку згідно із визначеною чинним законодавством
          України.
      %td
        %p.bold.padding_top_11 10. OTHER PROVISIONS
        %p
          10.1. After signing the AGREEMENT all preliminary talks, correspondence, preliminary contracts and
          protocols of intentions on the issues one or other way related to the AGREEMENT shall be
          considered null and void.
        %p
          10.2. Should the AGREEMENT be terminated due to any reasons including its expiration, early
          termination or circumstances stipulated by paragraph 9.5, the CONTRACTOR shall return to the
          COMPANY all the equipment, materials, software and other property (or monetary assets) obtained
          for the fulfillment of works. Electronic copies (samples) of the work results (documentation,
          computer programs and their parts) left on the electronic media and belong to the COMPANY shall be
          destroyed.
        %p
          10.3. The COMPANY shall have the right to unilaterally terminate the AGREEMENT in case:
          %br
          a) the CONTRACTOR has violated conditions of p.p. 5.2.2.; 5.2.4.;
          %br
          b) the CONTRACTOR has inflicted damages or offended the commercial interests of the COMPANY.
        %p
          10.3.1 Parties has the right to terminate this AGREEMENT unilaterally upon notifying one another
          in writing 30 calendar days prior.  During this period of 30 days parties are obligated to fulfill
          all conditions stipulated in this AGREEMENT.
        %p
          10.4. Terms of paragraph 7 of the AGREEMENT shall remain valid for the Parties after the
          expiration of the AGREEMENT.
        %p
          10.5. All disputes under the AGREEMENT shall be decided by negotiations between the PARTIES.
          Should the PARTIES fail to reach mutual understanding the dispute shall be decided in court
          according to the jurisdiction stipulated by the legislation of Ukraine.
    %tr
      %td
        %p.bold.padding_top_11 11. ПРИКІНЦЕВІ ПОЛОЖЕННЯ
        %p 11.1. У випадках, не передбачених ДОГОВОРОМ, СТОРОНИ керуються чинним законодавством України.
        %p
          11.2. Усі усні застереження за ДОГОВОРОМ не мають юридичної сили. Всі зміни чи доповнення до
          ДОГОВОРУ вносяться у письмовій формі та повинні бути підписані уповноваженими на це представниками
          СТОРІН.
        %p
          11.3. ДОГОВІР складено українською (превалює) та англійською мовами у двох оригінальних,
          автентичних примірниках, які мають однакову юридичну силу і зберігається у кожної із Сторін.
        %p
          11.4. Усі додатки до цього ДОГОВОРУ, які належним чином оформлені та підписані СТОРОНАМИ, є
          невід’ємною частиною ДОГОВОРУ та підлягають виконанню СТОРОНАМИ.
        %p
          11.5. Даний ДОГОВІР, всі його доповнення та додатки, можуть бути підписані СТОРОНАМИ особисто із
          застосуванням факсиміле, штампа, символу або іншим механічним або електронним способом
          посвідчення. Копії цих документів, вислані по електронній пошті вважати дійсними та маючими повну
          юридичну силу.
        %p 11.6. ДОГОВІР складається з 10-и сторінок формату А4.
      %td
        %p.bold.padding_top_11 11. FINAL PROVISIONS
        %p
          11.1. In cases not stipulated by AGREEMENT the PARTIES shall be guided by the current legislation
          of Ukraine.
        %p
          11.2. All verbal warnings as to the AGREEMENT shall have no legal force. All amendments or
          appendices to the AGREEMENT shall be introduced in writing, signed by the authorized
          representatives of the PARTIES and sealed.
        %p
          11.3. The AGREEMENT is concluded in Ukrainian (prevails) and English languages in two original and
          authentic copies having equal legal force and kept by both Parties.
        %p
          11.4. All appendices to the AGREEMENT properly executed and signed by the PARTIES shall be
          considered its integral part and are subject to fulfillment by the PARTIES.
        %p
          11.5. This AGREEMENT, all its Additions and Appendices may be signed by the PARTIES in person
          using facsimile, stamp, symbol or any other mechanical or electronic means. Copies of these
          documents sent by e-mail considered valid and with full legal force.
        %p 11.6.The AGREEMENT is comprised of 10 pages of A4 format.
    %tr
      %td
        %p.bold.padding_top_11 12. ДОДАТКИ ДО ДОГОВОРУ
        %p A. Технічне завдання.
        %p Б. Положення про захист інтелектуальної власності.
      %td
        %p.bold.padding_top_11 12. APPENDICES TO THE AGREEMENT
        %p A. Specification of requirements.
        %p B. The Regulation on intellectual property protection.
    %tr
      %td.padding_top_11
        %p.bold 13. МІСЦЕЗНАХОДЖЕННЯ, БАНКІВСЬКІ РЕКВІЗИТИ ТА ПІДПИСИ СТОРІН
        %br
        %p.bold Замовник
        %p JetThoughts LLC
        %br
        %p Адреса: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Тел.: +1 760 264 4264
        %br
        %br
        %p Директор______________________/ Nikitochkin Pavlo
      %td.padding_top_11
        %p.bold 13. LOCATION, BANKING REQUISITES AND SIGNATURES OF THE PARTIES
        %br
        %p.bold The Company
        %p JetThoughts LLC
        %br
        %p Address: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Phone: +1 760 264 4264
        %br
        %br
        %p Director_____________________/ Nikitochkin Pavlo
    %tr
      %td.padding_top_11
        %p.bold Виконавець
        %p= "#{person_type_for_locale(@person_type, :ua)} #{@user.ua_user_field.full_name}"
        %br
        %p= "Адреса: #{@user.ua_user_field.address}"
        %br
        %p= "Ідентифікаційний номер: #{@user.taxpayer_id}"
        %br
        - if @person_type == "PE"
          %p= "Свідоцтво № #{@user.register_number}"
          %p= "Від #{locale_date(@user.register_number_start_date, "«%d» %B %Y", :ua)}"
        - else
          %p= "Паспорт номер: #{@user.passport_number}"
          %p= "Виданий #{@user.ua_user_field.passport_issued_by}"
        %br
        %p= "п/р № #{@user.ua_user_field.c_a_number}"
        %p= @user.ua_user_field.bank_name
        %p= "Адреса банку: #{@user.ua_user_field.bank_address}"
        %p= "Bank SWIFT Code #{@user.swift_code}"
        %p= "IBAN #{@user.iban_number}"
        %br
        %br
        %p
          #{person_type_for_locale(@person_type, :ua)}__________________/
          #{@user.ua_user_field.name_with_initials}
        %br
      %td.padding_top_11
        %p.bold The Contractor
        %p= "#{person_type_for_locale(@person_type, :en)} #{@user.en_user_field.full_name}"
        %br
        %p= "Address: #{@user.en_user_field.address}"
        %br
        %p= "Taxpayer ID: #{@user.taxpayer_id}"
        %br
        - if @person_type == "PE"
          %p= "Register № #{@user.register_number}"
          %p= "As of #{locale_date(@user.register_number_start_date, "%B %d, %Y", :en)}"
        - else
          %p= "Passport number: #{@user.passport_number}"
          %p= "Issued by #{@user.en_user_field.passport_issued_by}"
        %br
        %p= "c/a № #{@user.en_user_field.c_a_number}"
        %p= @user.en_user_field.bank_name
        %p= "Bank Address: #{@user.ua_user_field.bank_address}"
        %p= "Bank SWIFT Code #{@user.swift_code}"
        %p= "IBAN #{@user.iban_number}"
        %br
        %br
        %p
          #{person_type_for_locale(@person_type, :en)}__________________/
          #{@user.en_user_field.short_name}
        %br
