.nda_llc_contract
  %p.center= "Appendix B to the AGREEMENT # #{@contract.number}"
  %p.center= "Дополнение Б к договору № #{@contract.number}"
  %br
  %p.bold.center ПОЛОЖЕНИЕ О ЗАЩИТЕ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
  %br
  %br
  %table
    %tr
      %td.padding_top_bottom_5
        %p
          .left_text г. Львов
          .right_text= locale_date(@contract.start_date, "%d %B %Y", :ru)
      %td.padding_top_bottom_5
        %p
          .left_text Lviv
          .right_text= locale_date(@contract.start_date, "%B %d, %Y", :en)
    %tr
      %td.title_1
        %p.bold.center ПОЛОЖЕНИЕ О ЗАЩИТЕ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
      %td.title_1
        %p.bold.center THE REGULATION ON PROTECTION OF INTELLECTUAL PROPERTY
    %tr
      %td
        %p
          Положение о защите интеллектуальной собственности, далее - "Положение", разработано с целью защиты
          прав ЗАКАЗЧИКА или третьих лиц, определенных ДОГОВОРОМ, на объекты ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
          и предотвращение нарушений таких прав любыми лицами, а также гарантированного возмещения вреда,
          причиненного нарушением таких прав.
          %br
          Положением определены и закреплены механизмы защиты прав ЗАКАЗЧИКА или третьих лиц определенных
          ДОГОВОРОМ, на объекты интеллектуальной собственности.
      %td
        %p
          The Regulation on intellectual property protection, hereinafter referred to as “the Regulation”,
          has been developed for protection of the rights of the COMPANY or third parties stipulated by the
          Agreement to the objects of INTELLECTUAL PROPERTY and prevention of violation of such rights by
          any person as well as securing the compensation for damages caused by violation of such rights.
          %br
          The Regulation stipulates and sets the ways of protection of the rights of the COMPANY or other
          third parties stipulated by the Agreement to the objects of INTELLECTUAL PROPERTY.
    %tr
      %td
        %br
        %p.bold.center 1. ТЕРМИНЫ ПОЛОЖЕНИЯ
        %p Термины, употребляемые в Положении, имеют следующее значение:
        %p
          %span.bold КОММЕРЧЕСКАЯ ТАЙНА
          – сведения в любой форме (устной, письменной, электронной), перечень которых определен в разделе 5
          настоящего Положения, и подлежащих защите от неправомерного сбора, разглашения и использования в
          порядке, определенном Положением и действующим законодательством Российской Федерации. Любые
          сведения, составляющие коммерческую тайну в соответствии с действующим законодательством
          Российской Федерации, но не включенные в Раздел 5 Положения, также подлежат защите в порядке,
          определенном Положением и законодательством Российской Федерации.
        %p
          %span.bold НЕПРАВОМЕРНЫЙ СБОР ИНФОРМАЦИИ
          – это получение противоправным путем сведений, составляющих коммерческую тайну, если это причинило
          или могло причинить вред Заказчику или третьим лицам, определенным Договором.
        %p
          %span.bold НЕПРАВОМЕРНОЕ РАЗГЛАШЕНИЕ ИНФОРМАЦИИ
          – это ознакомление ИСПОЛНИТЕЛЕМ или лицами, привлекаемыми в порядке, установленном Договором, к
          выполнению ЗАКАЗА или по другим причинам, любого третьего лица со сведениями, составляющими
          коммерческую тайну, если это причинило или могло причинить вред Заказчику. Ознакомлением является
          в том числе, но не исключительно: опубликование, разглашение КОММЕРЧЕСКОЙ ТАЙНЫ в любой форме
          (письменной, устной, электронной), с помощью магнитных носителей или лазерных дисков, через
          компьютерную сеть.
        %p
          %span.bold НЕПРАВОМЕРНОЕ ИСПОЛЬЗОВАНИЕ ИНФОРМАЦИИ
          – это внедрение в производство или учет при планировании или осуществлении хозяйственной
          деятельности или содействие такому внедрению неправомерно полученных сведений, составляющих
          коммерческую тайну.
        %p
          %span.bold ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ
          – это личные неимущественные права интеллектуальной собственности и (или) имущественные права
          интеллектуальной собственности, содержание которых относительно объектов интеллектуальной
          собственности определяется Гражданским кодексом Российской Федерации и другим законодательством.
          Это права на результаты умственной деятельности человека в научной, художественной,
          производственной и других сферах, которые являются объектом гражданско-правовых отношений в части
          права каждого владеть, пользоваться и распоряжаться результатами своей интеллектуальной,
          творческой деятельности.
        %p
          %span.bold ЗАЩИТА ПРАВ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
          – возможность ЗАКАЗЧИКА или третьих лиц, определенных ДОГОВОРОМ, принять меры правоохранительного
          характера с целью восстановления нарушаемого или оспариваемого права ЗАКАЗЧИКА на объекты
          ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ, а также возможность применить санкции, предусмотренные Положением
          и действующим законодательством Российской Федерации.
        %p
          %span.bold ОБЪЕКТЫ ЗАЩИТЫ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
          %br
          \- объекты авторского и смежных прав, включая, кроме прочего: КОМПЬЮТЕРНЫЕ ПРОГРАММЫ, программы
          для ЭВМ, базы данных и т.д.;
          %br
          \- объекты права промышленной собственности, включая, кроме прочего: изобретения, полезные модели,
          промышленные образцы, знаки для товаров и услуг, фирменные наименования, географические указания
          происхождения товаров и т.д.;
          %br
          \- нетрадиционные объекты права интеллектуальной собственности, включая, кроме прочего:
          КОММЕРЧЕСКУЮ ТАЙНУ (секреты производства, ноу-хау и т.д.).
      %td
        %br
        %p.bold.center 1. GENERAL PROVISIONS
        %p The terms used in the present Regulation shall have the following meaning:
        %p
          %span.bold COMMERCIAL SECRET
          shall mean the information in any form (verbal, written, electronic), the list of which is
          determined in Article 5 of the Regulation and which is subject to protection from illegal
          collecting, disclosure and use under the procedure established by the Regulation and the current
          legislation of Ukraine. Any information that represents the Commercial secret according to the
          current legislation of Ukraine but not included in Article 5 of the Regulation shall also be
          subject to protection under the procedure established by the Regulation and the legislation of
          Ukraine.
        %p
          %span.bold ILLEGAL COLLECTING OF INFORMATION
          shall mean illegal obtaining of information that represents the COMMERCIAL SECRET if it has caused
          or could have caused harm to the COMPANY or third parties stipulated by the Agreement.
        %p
          %span.bold ILLEGAL DISCLOSURE OF INFORMATION
          shall mean the familiarization by the CONTRACTOR or by persons engaged under the procedure
          stipulated by the Agreement into fulfilment of the ORDER or for any other reasons or by any third
          party with the information that represents the COMMERCIAL SECRET if it has caused or could have
          caused harm to the COMPANY or third parties stipulated by the Agreement. The familiarization shall
          mean but not limited to publishing or disclosure of the COMMERCIAL SECRET in any form (written,
          verbal and electronic), as well as disclosure by means of magnetic media or laser disks and also
          via a computer network.
        %p
          %span.bold ILLEGAL USE OF INFORMATION
          shall mean the introduction in production or accounting in the process of planning or realization
          of economic activity or assistance to such introduction of information obtained illegally which
          represents the COMMERCIAL SECRET.
        %p
          %span.bold INTELLECTUAL PROPERTY
          shall mean personal non-property rights to intellectual property and (or) property rights to
          intellectual property essence of which as to the objects of intellectual property is stipulated by
          the Civil Code of Ukraine and other legislation. These are the rights to the products of
          intellectual activity of the person in science, art, manufacturing and other fields which are the
          object of civil legal relationships in terms of the right of every person to possess, use and
          dispose of the products of their intellectual and creative activity.
        %p
          %span.bold PROTECTION OF INTELLECTUAL PROPERTY RIGHTS
          shall mean the possibility for the COMPANY or third parties stipulated by the Agreement to apply
          the law enforcement measures with the purpose of renewal of the violated or contested rights of
          COMPANY to the objects of INTELLECTUAL PROPERTY as well as the possibility to impose penalties
          determined by the Regulation and the current legislation of Ukraine.
        %p
          %span.bold OBJECTS OF INTELLECTUAL PROPERTY PROTECTION
          shall mean
          %br
          \- the objects of the copyright and allied rights including but not limited to: COMPUTER PROGRAMS,
          programs for computing devices, databases etc.;
          %br
          \- the objects of the industrial property rights including but not limited to inventions, utility
          models, industrial models, industrial trademarks, trademarks of goods and services, brand names,
          information on geographical origin of goods etc.;
          %br
          \- the non-traditional objects of Intellectual property including but not limited to The COMMERCIAL
          SECRET (secrets of production, know-how etc.).
    %tr
      %td.padding_top_11
        %p.bold.center 2. ПРАВА И ОБЯЗАННОСТИ ЛИЦ, ИМЕЮЩИХ ДОСТУП К ОБЪЕКТАМ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
        %p
          2.1. ИСПОЛНИТЕЛЬ, а также другие лица, которые в установленном договором порядке получили доступ к
          любым объектам ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ ЗАКАЗЧИКА или третьих лиц, а также других объектов
          ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ, которые находятся во владении, пользовании и распоряжении
          ЗАКАЗЧИКА на основаниях не запрещенных действующим законодательством Российской Федерации,
          подписанием настоящего Приложения к Договору подтверждают, что понимают в полном объеме все
          изложенные положения и условия этого документа и обязуются неукоснительно их выполнять.
        %p
          2.2. ИСПОЛНИТЕЛЬ, а также третьи лица, в установленном Положением порядке, получили доступ к любым
          объектам ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ ЗАКАЗЧИКА или третьих лиц,  определенных ДОГОВОРОМ, а
          также других объектов ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ, которые находятся во владении, пользовании и
          распоряжении ЗАКАЗЧИКА или других лиц, определенных ДОГОВОРОМ, на основаниях не запрещенных
          действующим законодательством Российской Федерации, обязаны не нарушать такие права, а также
          любыми средствами предотвращать возможные нарушения таких прав.
        %p
          2.3. Права и обязанности относительно КОМПЬЮТЕРНЫХ ПРОГРАММ.
        %p
          2.3.1. ИСПОЛНИТЕЛЬ, а также третьи лица, которые в установленном Договором порядке получили доступ
          к КОМПЬЮТЕРНЫМ ПРОГРАММАМ, имеют право выполнять относительно КОМПЬЮТЕРНЫХ ПРОГРАММ только те
          действия, которые предусмотрены соответствующими договорами и/или лицензионными соглашениями,
          и/или другими документами, регулирующими порядок использования КОМПЬЮТЕРНЫХ ПРОГРАММ.
        %p
          2.3.2. Указанные лица обязаны строго выполнять требования лицензионных соглашений, договоров и
          других документов, на основании которых соответствующие КОМПЬЮТЕРНЫЕ ПРОГРАММЫ поступили во
          владение, пользование и распоряжение ЗАКАЗЧИКА.
          %br
          Запрещается любое несанкционированное разглашение и использование, а также распространение
          КОМПЬЮТЕРНЫХ ПРОГРАММ любым другим образом без разрешения лиц, которым принадлежат авторские права
          или права на использование соответствующих программ, не разрешается выполнять переработку,
          адаптацию и другие подобные изменения КОМПЬЮТЕРНЫХ ПРОГРАММ.
        %p
          2.3.3. Свободное воссоздание КОМПЬЮТЕРНЫХ ПРОГРАММ. ИСПОЛНИТЕЛЬ имеет право без разрешения
          ЗАКАЗЧИКА, осуществлять нижеследующие действия, если иное не предусмотрено в Договоре и/или
          лицензионном соглашении, и / или другом документе, который регулирует порядок использования
          КОМПЬЮТЕРНОЙ ПРОГРАММЫ, а именно:
          %br
          а) наблюдать, изучать и исследовать функционирование КОМПЬЮТЕРНОЙ ПРОГРАММЫ, чтобы определить идеи
          и принципы, лежащие в основе любого элемента программы, при условии, что это происходит в процессе
          выполнения любого действия по загрузке, показу, функционированию, передаче или записи в память
          (сохранению) компьютерной программы;
          %br
          б) воспроизводить один экземпляр программы, а также адаптацию программы для:
          %br
          \- использования программы на определенном компьютере в соответствии с назначением программы;
          %br
          \- архивных целей;
          %br
          \- замены приобретенного Заказчиком на законных основаниях экземпляра программы в случае ее
          потери, повреждения или непригодности.
          %br
          Указанный экземпляр программы или ее адаптация не могут использоваться в других целях, чем те,
          которые определены Положением и подлежат уничтожению в случае, если дальнейшее владение,
          пользование и распоряжение программой перестает быть правомерным.
        %p
          2.3.4. Декомпиляция КОМПЬЮТЕРНЫХ ПРОГРАММ. Свободная декомпиляция КОМПЬЮТЕРНОЙ ПРОГРАММЫ,
          приобретенной Заказчиком на основаниях, не запрещенных действующим законодательством, допускается
          для воспроизведения кода и изменения его формы с целью получения информации, необходимой для
          достижения взаимодействия независимо созданной КОМПЬЮТЕРНОЙ ПРОГРАММЫ с другими компьютерными
          программами, при условии, что:
          %br
          \- эти действия осуществляются лицом, имеющим лицензию, или другим лицом, которое является
          законным владельцем КОМПЬЮТЕРНОЙ ПРОГРАММЫ, или от имени лица, имеющего соответствующие полномочия;
          %br
          \- информация, необходимая для достижения возможности взаимодействия, не была предварительно
          известна лицам, указанным в предыдущем абзаце;
          %br
          \- указанные действия ограничиваются только теми элементами КОМПЬЮТЕРНОЙ ПРОГРАММЫ, которые
          необходимы для достижения возможности взаимодействия.
          %br
          Условия подпункта 2.3.5. не допускают, чтобы полученная в результате декомпиляции информация:
          %br
          а) использовалась для целей, отличных от достижения возможности взаимодействия независимо
          созданной КОМПЬЮТЕРНОЙ ПРОГРАММЫ с другими программами;
          %br
          б) была предоставлена другим пользователям, кроме случаев, если это необходимо для достижения
          возможности взаимодействия независимо созданной КОМПЬЮТЕРНОЙ ПРОГРАММЫ с другими программами,
          %br
          в) была использована для разработки (усовершенствования), изготовления или распространения
          КОМПЬЮТЕРНОЙ ПРОГРАММЫ, существенно схожей с декомпилированной компьютерной программой,
          %br
          г) была использована любым другим способом, нарушающим авторское право.
        %p
          2.3.5. Права на использование. Исключительные права на использование компьютерных программ и
          других объектов интеллектуальной собственности, созданных Исполнителем, принадлежат Заказчику.
        %p
          2.3.6. Использование КОМПЬЮТЕРНЫХ ПРОГРАММ. Исполнитель не имеет права продавать, иным способом
          отчуждать , передавать в пользование, делать переработки, адаптации и другие подобные изменения, а
          также осуществлять в отношении КОМПЬЮТЕРНЫХ ПРОГРАММ, приобретенных Заказчиком на основаниях, не
          запрещенных действующим законодательством, а также разработанных Заказчиком, совершать любые
          другие действия, которые могут привести к нарушению прав интеллектуальной собственности Заказчика
          на такие программы, за исключением действий, выполняемых ими в соответствии с договорами,
          заключенными с Заказчиком, и в соответствии с Положением.
          %br
          Исполнитель обязан выполнять положения указанного пункта как в течение срока действия Договора,
          так и после прекращения его действия.
        %p
          2.3.7. Копии. ИСПОЛНИТЕЛЬ после прекращения действия Договора с Заказчиком не имеет права хранить
          экземпляры КОМПЬЮТЕРНЫХ ПРОГРАММ в любом виде, если иное не предусмотрено Договором.
        %p
          2.4. Права и обязанности в отношении КОММЕРЧЕСКОЙ ТАЙНЫ ЗАКАЗЧИКА
        %p
          2.4.1. Конфиденциальность КОММЕРЧЕСКОЙ ТАЙНЫ. Сведения, указанные в разделе 5 Положения, а также
          другие сведения, которые признаются коммерческой тайной в соответствии с действующим
          законодательством Российской Федерации, являются конфиденциальной информацией, на которую
          распространяется режим конфиденциальности, что означает, что такая информация подлежит защите от
          неправомерного сбора, разглашения и использования как ИСПОЛНИТЕЛЕМ , так и любой другой лицом в
          порядке, определенном Положением.
        %p
          2.4.2. Источники КОММЕРЧЕСКОЙ ТАЙНЫ. Информация, составляющая коммерческую тайну, может быть
          получена от ЗАКАЗЧИКА, третьих лиц, определенных ДОГОВОРОМ, или разработана локальными документами
          ЗАКАЗЧИКА.
        %p
          2.4.3. Порядок получения КОММЕРЧЕСКОЙ ТАЙНЫ. Доступ к информации, составляющей коммерческую тайну,
          может быть специальным (с указанием режима конфиденциальности) и случайным (без указания режима
          конфиденциальности). Для предотвращения негативных последствий случайного доступа лиц к
          информации, составляющей коммерческую тайну, Исполнителю запрещается предоставлять любым лицам
          доступ к информации, составляющей коммерческую тайну. ИСПОЛНИТЕЛЬ, виновный в предоставлении любым
          лицам доступа к информации, составляющей коммерческую тайну, несет ответственность за ущерб,
          причиненный Заказчику или третьим лицам, определенных ДОГОВОРОМ, в результате таких действий.
          %br
          Независимо от процедуры доступа к информации, составляющей коммерческую тайну ЗАКАЗЧИКА или
          третьих лиц, определенных ДОГОВОРОМ, ИСПОЛНИТЕЛЬ, получивший доступ к такой информации, обязан
          принимать все возможные меры для защиты такой информации, предусмотренные Положением и действующим
          законодательством Российской Федерации.
        %p
          2.4.4. Передача КОММЕРЧЕСКОЙ ТАЙНЫ. Информация, которая является коммерческой тайной, может быть
          передана Исполнителю (его представителям) или\и другим лицам при соблюдении следующего условия:
          %br
          \- при передаче такой информации, Заказчик обязан сообщить ИСПОЛНИТЕЛЮ о режиме конфиденциальности
          информации, передаваемой в обязательном порядке.
          %br
          Передача Исполнителем информации, составляющей коммерческую тайну, государственным органам,
          осуществляющим контроль за деятельностью субъектов предпринимательской деятельности, в случае
          наличия должным образом оформленных запросов государственных органов о предоставлении информации,
          не является нарушением настоящего Положения. В случае наличия у ИСПОЛНИТЕЛЯ сомнений относительно
          законности запросов или действий государственных органов, он обязан немедленно сообщить об этом
          ЗАКАЗЧИКУ. В любом случае, Исполнитель обязан сообщать ЗАКАЗЧИКУ о любых запросах государственных
          органов официального и неофициального характера в отношении информации, составляющей коммерческую
          тайну ЗАКАЗЧИКА.
          %br
          Информация, составляющая коммерческую тайну, может быть передана государственным и
          негосударственным организациям, предприятиям и учреждениям для научно-исследовательских целей,
          экспертизы и проведения рекламных мероприятий исключительно при наличии предварительного
          письменного согласия ЗАКАЗЧИКУ на такую передачу.
        %p
          2.4.5. Режим доступа к КОММЕРЧЕСКОЙ ТАЙНЕ. Доступ к информации, составляющей коммерческую тайну,
          могут иметь только ИСПОЛНИТЕЛЬ и лица, список которых согласован с Заказчиком и непосредственно
          используют такую информацию при выполнении своих договорных обязательств.
          %br
          Сбор, разглашение и использование информации, составляющей коммерческую тайну ЗАКАЗЧИКУ, в любых
          других целях, нежели предусмотренные Положением, является неправомерным и строго запрещается.
          %br
          Лица, получившие информацию, составляющую коммерческую тайну ЗАКАЗЧИКА, в электронном виде, на
          бумажных или любых других носителях, несут ответственность за ее надлежащее хранение и
          использование. Ненадлежащее хранение и использование информации, составляющей коммерческую тайну
          ЗАКАЗЧИКА приравнивается к неправомерному разглашению.
        %p
          2.4.6. Пересылка и хранение КОММЕРЧЕСКОЙ ТАЙНЫ. Бумажные, электронные и другие носители
          информации, составляющей коммерческую тайну ЗАКАЗЧИКА, должны в нерабочее время сохраняться в
          замкнутых на ключ помещениях, которые должным образом охраняются. Вынесение таких носителей
          информации за пределы офиса ЗАКАЗЧИКА разрешается только с согласия ЗАКАЗЧИКА.
          %br
          Файлы, содержащие информацию, которая составляет коммерческую тайну ЗАКАЗЧИКА, должны быть
          зашифрованы или доступ к ним должен быть закрыт паролем.
          %br
          При пересылке информации, составляющую коммерческую тайну ЗАКАЗЧИКА, по электронной почте она
          должна быть защищена от несанкционированного доступа паролями или криптографическими программами.
      %td.padding_top_11
        %p.bold.center
          2. THE RIGHTS AND OBLIGATIONS OF THE PERSONS THAT HAVE ACCESS TO THE OBJECTS OFINTELLECTUAL
          PROPERTY
        %p
          2.1.  The CONTRACTOR as well as other persons that under the procedure stipulated by the AGREEMENT
          have obtained access to any objects of INTELLECTUAL PROPERTY of the COMPANY or third parties as
          well as to other objects of INTELLECTUAL PROPERTY being in possession, use and disposal of the
          COMPANY on the basis not prohibited by the current legislation of Ukraine by signing the present
          Appendix to the Agreement shall confirm that they fully understand the provisions and conditions
          of the present document and shall follow them  strictly.
        %p
          2.2. The CONTRACTOR as well as third parties that under the procedure stipulated by the Regulation
          have obtained access to any objects of INTELLECTUAL PROPERTY of the COMPANY or third parties
          stipulated by the Agreement as well as to other objects of INTELLECTUAL PROPERTY being in
          possession, use and disposal of the COMPANY or other persons stipulated by the Agreement on the
          basis not prohibited by the current legislation of Ukraine shall not violate such rights and
          prevent their possible violation in any way.
        %p
          2.3. The rights and obligations concerning the COMPUTER PROGRAMS.
        %p
          2.3.1. The CONTRACTOR as well as third parties that under the procedure stipulated by the Agreement
          have obtained access to the COMPUTER PROGRAMS shall have the right to perform in relation to the
          COMPUTER PROGRAMS only the actions stipulated by the corresponding agreements and/or license
          agreements and/or other documents regulating the procedure of using of the COMPUTER PROGRAMS.
        %p
          2.3.2. The stated persons shall strictly follow the requirements of the license agreements,
          agreements and other documents on the basis of which the corresponding COMPUTER PROGRAMS have been
          obtained into possession, use and disposal of the COMPANY.
          %br
          Any unauthorized disclosure, use and distribution of the COMPUTER PROGRAMS in any other way without
          the permission of the persons having the copyright or the rights to use the corresponding programs
          shall be prohibited. Processing, adjusting and other similar changes of the Computer programs shall
          not be allowed.
        %p
          2.3.3. Free reproduction of the COMPUTER PROGRAMS. The CONTRACTOR shall have the right to perform
          without consent of the COMPANY the actions stated below unless otherwise is stipulated by the
          Agreement and/or license agreement and/or other document regulating the procedure of using of the
          COMPUTER PROGRAMS, viz:
          %br
          а) to observe, study and explore the functioning of the COMPUTER PROGRAM in order to determine
          ideas and principles that are fundamental for any of the program elements on condition that it
          takes place in the process of implementation of any action of downloading, displaying,  operating,
          transferring or recording (saving) of the COMPUTER PROGRAM;
          %br
          b) to reproduce one copy of the program and make adjustments to the program for the following
          purposes:
          %br
          \- using of the program on a definite computer according to application of the program;
          %br
          \- creating of archives;
          %br
          \- replacing of the program copy legally acquired by the COMPANY in case of its loss, damage or
          inoperability.
          %br
          The stated copy of the program or its adjustment shall not be used for other purposes than those
          specified by the Regulation and shall be subject to deleting in case if further possessing, use and
          disposal of the program becomes illegal.
        %p
          2.3.4. Decompiling of the COMPUTER PROGRAMS. Free decompiling of the COMPUTER PROGRAM acquired by
          the COMPANY on the grounds not prohibited by the current legislation shall be allowed for
          reproduction of the code or changing of its form with the purpose of receiving the information
          necessary for achievement of interaction of the independently created COMPUTER PROGRAM with other
          COMPUTER PROGRAMS on the following conditions:
          %br
          \- such actions are carried out by a person possessing a licence or by other person being the legal
          owner of the COMPUTER PROGRAM or on behalf of the person having proper authority;
          %br
          \- information necessary for achievement of possible interaction has not been known in advance to
          the persons stated in the previous paragraph;
          %br
          \- the stated actions are limited to only those elements of the COMPUTER PROGRAM that are necessary
          for achievement of possible interaction.
          %br
          According to the provisions of sub-paragraph 2.3.5 the information received as a result of
          decompiling shall not:
          %br
          a) be used for other purposes than achievement of possible interaction of independently created
          COMPUTER PROGRAM with other programs;
          %br
          b) be transferred to other users unless it is necessary for achievement of possible interaction of
          independently created COMPUTER PROGRAM with other programs;
          %br
          c) be used for development (improvement), production or distribution of the COMPUTER PROGRAM which
          is extremely similar to the decompiled  COMPUTER PROGRAM;
          %br
          d) be used in any other way that violates the copyright.
        %p
          2.3.5 The rights of use. Exclusive rights of use to the COMPUTER PROGRAMS and other objects of
          Intellectual property created by the CONTRACTOR shall be retained by the COMPANY.
        %p
          2.3.6. Use of the COMPUTER PROGRAMS. The CONTRACTOR shall have no right to sell, alienate in any
          other way, transfer into use, redesign, adjust or make other similar changes as well as perform as
          to the COMPUTER PROGRAMS acquired by the COMPANY on the grounds not prohibited by the current
          legislation and to those developed by the COMPANY any other actions which can result in violation
          of INTELLECTUAL PROPERTY rights of the COMPANY to such programs except for actions performed by
          them under the agreements concluded with the COMPANY and according to the Regulation.
          %br
          The CONTRACTOR shall be liable for performing of provisions of the stated paragraph during the
          validity period of the Agreement as well as after its expiry.
        %p
          2.3.7. The copies.  After expiry of the Agreement with the COMPANY, the CONTRACTOR shall have no
          rights to store the copies of the COMPUTER PROGRAMS in any form unless otherwise is stipulated by
          the Agreement.
        %p
          2.4. The rights and obligations as to the COMMERCIAL SECRETS of the COMPANY.
        %p
          2.4.1. The confidential nature of COMMERCIAL SECRET. The information specified in Article 5 of the
          Regulation as well as other information considered the COMMERCIAL SECRET according to the current
          legislation of Ukraine shall be confidential and covered by the confidentiality regime which means
          that such information is subject to protection from illegal collection, disclosure and use by the
          CONTRACTOR and any other person under the procedure stipulated by the Regulation.
        %p
          2.4.2. The sources of COMMERCIAL SECRET. Information that represents the COMMERCIAL SECRET can be
          received from the COMPANY, third parties stipulated by the Agreement or contained in the documents
          for internal use of the COMPANY.
        %p
          2.4.3. The procedure of Commercial secret provision. Access to the information representing the
          COMMERCIAL SECRET can special (with the reference to the confidentiality regime) and accidental
          (without the reference to the confidentiality regime). To prevent negative consequences of
          accidental access by the persons to the information representing the COMMERCIAL SECRET the
          CONTRACTOR shall not transfer to any persons the access to the information representing the
          COMMERCIAL SECRET. The CONTRACTOR responsible for the provision of any persons with the access to
          the information representing the COMMERCIAL SECRET shall be liable for the damages incurred by the
          COMPANY or third parties stipulated by the Agreement as a result of such actions.
          %br
          Regardless the procedure of access to the information representing the COMMERCIAL SECRET of the
          COMPANY or third parties stipulated by the Agreement the CONTRACTOR that has received the access to
          such information shall be liable for taking all possible measures of protection of such information
          stipulated by the Regulation and the current legislation of Ukraine.
        %p
          2.4.4. Transferring of COMMERCIAL SECRET. Information representing the Commercial secret can be
          transferred to the CONTRACTOR (his representatives) and/or to other persons on the following
          condition:
          %br
          \- generally when transferring such information the COMPANY shall compulsory notify the CONTRACTOR
          of the confidentiality regime applied to the transferred information.
          %br
          Transferring by the CONTRACTOR of the information representing the COMMERCIAL SECRET to the state
          authorities exercising control over the activity of business entities in case of properly executed
          inquiries of the state authorities as to the provision of the corresponding information shall not
          be a violation of the present Regulation. Should the CONTRACTOR have any doubts as to the
          legitimacy of the inquiries or actions of the state authorities, he shall immediately notify the
          COMPANY thereof.
          In any case the CONTRACTOR shall notify the COMPANY of any official and unofficial inquiries of the
          state authorities as to the information representing the COMMERCIAL SECRET of the COMPANY.
          %br
          Information representing the COMMERCIAL SECRET can be transferred to the governmental and
          non-governmental organizations, enterprises and institutions for scientific and research purposes,
          expertise and advertising campaign solely upon prior written consent of the Company for such
          transferring.
        %p
          2.4.5. The regime of access to COMMERCIAL SECRET. Access to the information representing the
          COMMERCIAL SECRET shall be allowed only to the CONTRACTOR and persons the list of which has been
          agreed upon by the COMPANY and who use such information directly when performing their obligations
          under the Agreement.
          %br
          Collecting, disclosure and use of the information representing the COMMERCIAL SECRET of the COMPANY
          for any other purposes than those stipulated by the Regulation shall be strictly prohibited and
          deemed illegal.
          %br
          Persons that have obtained the information representing the COMMERCIAL SECRET on electronic, paper
          or any other media shall be liable for its proper storing and use. Improper storing and use of the
          information representing the COMMERCIAL SECRET shall considered illegal disclosure.
        %p
          2.4.6. Sending and storing of COMMERCIAL SECRET. During the off-work hours all paper, electronic
          and other storage media containing the information which represents the COMMERCIAL SECRET shall be
          stored in locked premises and guarded properly. Taking such information storage media out of the
          office of the COMPANY shall take place only upon the consent of the COMPANY.
          %br
          Files containing the information representing the COMMERCIAL SECRET of the COMPANY shall be encoded
          or have the access protected with a password.
          %br
          When sending the information representing the COMMERCIAL SECRET of the COMPANY via e-mail it shall
          be protected from unauthorized access with passwords or encryption programs.
    %tr
      %td
        %p.bold.center 3. ОТВЕТСТВЕННОСТЬ
        %p
          3.1. Ответственность. Лица, нарушившие требования Положения, несут ответственность в соответствии
          с действующим законодательством Российской Федерации и Положением.
          %br
          В случае выявления какого-либо нарушения, угрозы нарушения или попытки нарушения Положения, в
          результате которого Заказчик понес ущерб, потерял прибыль или ухудшил свою деловую репутацию,
          Заказчик имеет право обратиться в суд для получения решения или постановления о прекращении
          нарушения, угрозы или попытки нарушения Положения, дополнительно к другим судебных способов
          защиты, предусмотренным законодательством, включая, но не ограничиваясь, покрытием расходов,
          расходов и гонорара адвоката, которые возникают в результате такого нарушения, угрозы или попытки
          нарушения.
        %p
          3.2. ИСПОЛНИТЕЛЬ, в случае нарушения или попытки нарушения условий Положения обязан возместить
          Заказчику все документально подтвержденные убытки ЗАКАЗЧИКА, причиненные таким нарушением или
          попыткой нарушения, а также уплатить Заказчику штраф в размере 50 000 (пятьдесят тысяч) гривен.
        %p
          3.3. Заказчик вправе прекратить договорные отношения с Исполнителем, в случае нарушения или
          попытки нарушения им условий Положения, а в случае обращения третьих лиц по рекомендациям в
          отношении таких лиц, ЗАКАЗЧИК не будет иметь намерений скрывать каких-либо фактов, отрицательно
          характеризующих таких лиц.
      %td
        %p.bold.center 3. RESPONSIBILITIES
        %p
          3.1 Responsibility. Persons who have violated the provisions of the Regulation shall bear
          responsibilities according to the current legislation of Ukraine and the Regulation.
          %br
          Should any violation, threat to violate or attempt of violation of the Regulation be revealed
          resulted and which caused harm to the COMPANY, loss of profit or damage to its goodwill the COMPANY
          shall be liable to go to court of law to get a decision or decree on termination of the violation,
          threat or attempt to violate the Regulation additionally to other ways of legal protection
          stipulated by the legislation including, but not limited to reimbursement of expenses, expenditures
          and the honorarium to the attorney arising from such violation, threat or attempt of violation.
        %p
          3.2. Should the CONTRACTOR violates or attempts to violate terms of the Regulation he shall be
          liable to recover to the COMPANY losses of the COMPANY confirmed by the documents and inflicted by
          the violation or attempt of such violation as well as to pay to the COMPANY a fine in the amount of
          50 000 (fifty thousand) hryvnas.
        %p
          3.3. Should the CONTRACTOR violate or attempts to violate the provisions of the Regulation the
          COMPANY shall have the right to break contractual relations with the CONTRACTOR. Should any third
          persons make inquiries as to recommendations concerning such persons the COMPANY shall not have any
          intentions to hide any facts which negatively characterise such persons.
    %tr
      %td
        %p.bold.center 4. ДРУГИЕ ПОЛОЖЕНИЯ
        %p
          4.1. Дополнительная информация и консультации.
          %br
          ИСПОЛНИТЕЛЬ имеет право обращаться к ЗАКАЗЧИКУ для получения разъяснений и/или уточнений любых
          пунктов Положения, выяснения других вопросов, касающихся условий конфиденциальности, авторских
          прав, других вопросов, так или иначе, связанных с этими проблемами.
        %p
          4.2. Положение составлено на русском (превалирует) и английском языках в двух, экземплярах,
          имеющих одинаковую юридическую силу и хранится у каждой из Сторон.
      %td
        %p.bold.center 4. OTHER PROVISIONS
        %p
          4.1. Additional information and consultations.
          %br
          The CONTRACTOR shall have the right to turn to the COMPANY for clarifications of any provision of
          the Regulation, other matters related to confidentiality, the copyright and other issues concerning
          such problems.
        %p
          4.2. The Provisions are concluded in Ukrainian (prevails) and English languages in two original and
          authentic copies having equal legal force and kept by both Parties.
    %tr
      %td
        %p.bold.center 5. ПЕРЕЧЕНЬ СВЕДЕНИЙ, СОСТАВЛЯЮЩИХ КОММЕРЧЕСКУЮ ТАЙНУ
        %p 5.1. КОММЕРЧЕСКУЮ ТАЙНУ ЗАКАЗЧИКА составляют следующие данные:
        %p 5.2. ЮРИДИЧЕСКАЯ ИНФОРМАЦИЯ
        %p
          5.2.1. Договоры, протоколы, предварительные соглашения, любые односторонние, двусторонние и
          многосторонние сделки, как подписанные, так и проекты.
        %p 5.2.2. Формы сотрудничества с контрагентами.
        %p 5.3. ФИНАНСОВАЯ ИНФОРМАЦИЯ
        %p
          5.3.1. Размер и формы выплаты заработных плат, премий, вознаграждений, других материальных и
          денежных компенсаций других исполнителей.
        %p
          5.3.2. Размеры вознаграждений агентов, посредников, комиссионеров, поверенных и представителей и
          других лиц, которые предоставляют услуги и/или выполняют работы по заказу ЗАКАЗЧИКА.
        %p
          5.3.3. Стоимость работ и услуг, выполняемых/оказываемых Заказчиком, размеры и формы оплат таких
          работ и услуг.
        %p
          5.3.4. Даты и формы выплат Заказчиком заработных плат, премий, вознаграждений, других компенсаций
          и денежных сумм.
        %p 5.3.5. Даты и формы получения Заказчиком любых денежных сумм.
        %p
          5.3.6. Цены на продукцию и услуги ЗАКАЗЧИКА, не указанные в прайс-листах ЗАКАЗЧИКА, а также цены
          на продукцию и услуги ЗАКАЗЧИКА, указанные в специальных офертах и деловых предложениях.
        %p 5.4. МАРКЕТИНГОВАЯ ИНФОРМАЦИЯ
        %p
          5.4.1. Оферты, деловые предложения, переписка с отечественными и зарубежными, юридическими и
          физическими лицами.
        %p
          5.4.2. Наименование агентов и посредников, комиссионеров, поверенных и представителей.
          %br
          Бизнес-планы и планы развития ЗАКАЗЧИКА, прогнозы, разработанные Заказчиком.
        %p 5.4.3. Анализы рынка (отдельных сегментов) и маркетинговые исследования (в т.ч. их результаты).
        %p 5.5. ТЕХНОЛОГИЧЕСКАЯ ИНФОРМАЦИЯ
        %p
          5.5.1. Технические задания, описания задач, спецификации, схемы, любая технологическая
          документация изготавливается Заказчиком в процессе выполнения работ и / или добавляется к
          результатам выполненных работ, а также программные продукты и другие разработки ЗАКАЗЧИКА.
        %p 5.5.2. Отчеты о выполненных работах и оказанных услуг.
        %p 5.5.3. Характер и вид изменений, внесенных в любые КОМПЬЮТЕРНЫЕ ПРОГРАММЫ.
        %p
          5.5.4. Организация производственного процесса.
          %br
          Статистические данные, касающиеся производственного процесса (в том числе о рекламации заказчиков,
          производственных и других ошибках).
        %p 5.5.5. Переписка с заказчиками и другими Контрагентами.
        %p 5.6. ДРУГАЯ ИНФОРМАЦИЯ
        %p
          5.6.1. Способы доступа в помещение ЗАКАЗЧИКА, компьютерные системы, базы данных (кодовые слова,
          пароли, коды доступа и другие данные).
        %p
          5.6.2. Домашние адреса и телефоны Работников и Контрагентов ЗАКАЗЧИКА.
          %br
          Кроме вышеупомянутой информации, коммерческой тайной также любая другая информация, полученная от
          Контрагентов ЗАКАЗЧИКА в любой форме с пометкой или с сообщением о режиме конфиденциальности такой
          информации.
      %td
        %p.bold.center 5. LIST OF INFORMATION REPRESENTING THE COMMERCIAL SECRET
        %p 5.1. COMMERCIAL SECRET OF THE COMPANY shall include:
        %p 5.2. LEGAL INFORMATION
        %p
          5.2.1. Agreements, protocols, preliminary contracts, any unilateral, bilateral and multilateral
          legal acts both signed and drafted.
        %p 5.2.2. Forms of cooperation with counteragents.
        %p 5.3. FINANCIAL INFORMATION
        %p
          5.3.1. The size and the forms of payment of wages, bonuses, rewards, other material and monetary
          compensations of the other Contractors.
        %p
          5.3.2. The amount of rewards of the agents, intermediaries, commission agents, attorneys and
          representatives as well as other persons who provide services and/or carry out works upon the Order
          of the COMPANY.
        %p
          5.3.3. The cost of works and services carried out/provided by the COMPANY, amounts and forms of
          payment for such works and services.
        %p
          5.3.4. Dates and forms of payment of wages, bonuses, rewards, other compensations and monetary sums
          by the COMPANY.
        %p 5.3.5. Dates and forms of receiving of any monetary sums by the COMPANY.
        %p
          5.3.6. Prices of goods and services of the COMPANY not stated in the price-lists of the COMPANY as
          well as prices of goods and services stated in the special offers and business proposals.
        %p 5.4. MARKETING INFORMATION
        %p
          5.4.1. Offers, business proposals, correspondence with Ukrainian and foreign legal and physical
          persons.
        %p
          5.4.2. The names of agents and intermediaries, commission agents, attorneys and representatives.
          %br
          Business plans and plans of the development of the COMPANY as well as prognoses developed by the
          COMPANY.
        %p
          5.4.3. Analyses of the market (its separate segments) and marketing research (including their
          results).
        %p 5.5. INFORMATION OF TECHNOLOGICAL NATURE
        %p
          5.5.1. Preliminary technical specifications, task descriptions, data sheets, schemes and
          technological documentation of any kind produced by the COMPANY during the fulfilment of works
          and/or added to the results of the works executed as well as software products and other
          developments of the COMPANY.
        %p 5.5.2. Reports on works executed and services provided.
        %p 5.5.3. Type and nature of changes introduced into COMPUTER PROGRAMS.
        %p
          5.5.4. Organization of production process.
          %br
          Statistical data related to the production process (including that of on reclamations of other
          companies, production and other errors).
        %p 5.5.5. Correspondence with companies and other counteragents.
        %p 5.6. OTHER INFORMATION
        %p
          5.6.1. Ways of access to the premises of the COMPANY, computer systems, data bases (code words,
          passwords, access codes and other data).
        %p
          5.6.2. Home addresses and telephone numbers of the Employees and Counteragents of the COMPANY.
          %br
          Except the said information any other information, received from the Counteragents of the COMPANY
          in any other form bearing the note on or pointing out to the confidential nature of such
          information shall also be considered a COMMERCIAL SECRET.
    %tr
      %td.padding_top_11
        %p.bold.center 6. МЕСТОНАХОЖДЕНИЕ, БАНКОВСКИЕ РЕКВИЗИТЫ И ПОДПИСИ СТОРОН
        %p.bold Заказчик
        %p JetThoughts LLC
        %br
        %p Адрес: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Тел.: +1 760 264 4264
        %br
        %br
        %p Директор______________________/ Nikitochkin Pavlo
      %td.padding_top_11
        %p.bold.center 6. LOCATION, BANKING REQUISITES AND SIGNATURES OF THE PARTIES
        %p.bold The Company
        %p JetThoughts LLC
        %br
        %p Address: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Phone: +1 760 264 4264
        %br
        %br
        %p Director_____________________/ Nikitochkin Pavlo
    = render partial: 'contracts/drafts/user_bank_info_ru', object: [@person_type, @user]
