.sor_llc_contract
  %table
    %tr
      %td
        %p.bold.center Техническое задание
        %p.center
          к договору № #{@contract.number} от #{locale_date(@contract.start_date, "%d %B %Y", :ru)}
      %td
        %p.bold.center Specification of requirements
        %p.center
          to contract # #{@contract.number} of #{locale_date(@contract.start_date, "%B %d, %Y", :en)}
    %tr
      %td.padding_top_bottom_5
        %p
          Касательно услуг IT консультанта, #{person_type_for_locale(@person_type, :ru)}
          #{@user.ru_user_field.full_name},
          на период с #{locale_date(@contract.start_date, "«%d» %B %Y", :ru)}г.
          по #{locale_date(@contract.end_date, "«%d» %B %Y", :ru)}. (Оба дня включительно).
          С возможностью продления данного договора по основаниям указанным ниже.
      %td.padding_top_bottom_5
        %p
          As of IT consulting services of #{person_type_for_locale(@person_type, :en)}
          #{@user.en_user_field.full_name}
          for the period from #{locale_date(@contract.start_date, "%B %d, %Y", :en)}
          to #{locale_date(@contract.end_date, "%B %d, %Y", :en)} (both days included).
          With the possibility of extending the contract for the reasons listed below.
    %tr
      %td.padding_top_bottom_5
        %p.bold.underline 1. Задание (задача):
        %p IT консультирование: разработка программного обеспечения.
      %td.padding_top_bottom_5
        %p.bold.underline 1. Task (problem):
        %p IT consulting: software development.
    %tr
      %td.padding_top_bottom_5
        %p.bold.underline 2. Имя клиента:
        %p JetThoughts LLC
      %td.padding_top_bottom_5
        %p.bold.underline 2. Client:
        %p JetThoughts LLC
    %tr
      %td.padding_top_bottom_5
        %p.bold.underline 3. Контрактная цена:
        %p
          Оплата за консультационные услуги будет рассчитываться согласно количеству предоставленных
          консультационных часов. Согласованная цена будет составлять
          #{@user.ru_user_field.contract_price} за предоставленные услуги в сфере разработки ПО.
      %td.padding_top_bottom_5
        %p.bold.underline 3. Contract price:
        %p
          Payment for consulting services will be calculated according to the number of the provided
          consulting hours. Agreed price will be
          #{@user.en_user_field.contract_price} for the software development services provided.
    %tr
      %td.padding_top_bottom_5
        %p.bold.underline 4. Местоположение:
        %p= "#{@user.ru_user_field.location}."
      %td.padding_top_bottom_5
        %p.bold.underline 4. Location:
        %p= "#{@user.en_user_field.location}."
    %tr
      %td.padding_top_bottom_5
        %p.bold.underline 5. Другие условия:
        %p
          Предоставляется возможность продолжения данного отдельного договора
          на необходимый период соблюдая аналогичные условия и сроки.
          Данная возможность может применяться не позднее чем за 1 неделю до окончания настоящего договора.
      %td.padding_top_bottom_5
        %p.bold.underline 5. Other Conditions:
        %p
          The possibility of the continuation of this particular Contract
          for the required period following similar terms and conditions.
          This possibility can be used no later than 1 week prior to the expiration of this contract.
    %tr
      %td.padding_top_11
        %p.bold Заказчик
        %p JetThoughts LLC
        %br
        %p Адрес: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Тел.: +1 760 264 4264
        %br
        %br
        %p Директор_______________________/ Nikitochkin Pavlo
      %td.padding_top_11
        %p.bold The Company
        %p JetThoughts LLC
        %br
        %p Address: 401 E 1st St Suite 1868 - 0039, Sanford FL , 32772
        %p Phone: +1 760 264 4264
        %br
        %br
        %p Director________________________/ Nikitochkin Pavlo
    = render partial: 'contracts/drafts/user_bank_info_ru', object: [@person_type, @user]
